Repository OpenXRay/xray-16, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Documentation, External (3rd party), Game assets, Infrastructure, Physics, Renderer, DirectX, OpenGL, Sound, UI

Update Torch.cpp
  src/xrGame/Torch.cpp
Labels: none

Create items.ltx
  res/gamedata/configs/misc/items.ltx
Labels: Game assets

GitHub Action: support macOS 15
  .github/workflows/cibuild.yml
Labels: Infrastructure

GitHub Actions: distinguish between different versions of macOS [skip ci]
  .github/workflows/cibuild.yml
Labels: Infrastructure

formatting [skip ci]
  .github/workflows/cibuild.yml
Labels: Infrastructure

cibuild.yml: correctly check for macOS when determining the need of macOS packages installation
  .github/workflows/cibuild.yml
Labels: Infrastructure

GitHub Actions: support macOS 15 (#1717)
  .github/workflows/cibuild.yml
Labels: Infrastructure

AppVeyor: disable x86 Windows builds (don't worry, x86 is still supported)
  appveyor.yml
Labels: none

AppVeyor: disable x86 Windows builds (it's still supported on Actions) (#1718)
  appveyor.yml
Labels: none

xrCore: remove Windows-specific DllMain
  src/xrCore/xrCore.cpp
Labels: none

Details cache update optimization
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager.h
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

Details cache update optimization (#1719)
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager.h
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

Fixed some mistakes in details cache optimization
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

Added comment
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

Update src/Layers/xrRender/DetailManager_CACHE.cpp
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

Fixed mistakes in details cache optimization (#1721)
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

GitHub Actions: use FreeBSD 14.1
  .github/workflows/cibuild.yml
Labels: Infrastructure

GitHub Actions: macOS 13 and 15 is sufficient, don't build on macOS 14 [skip ci]
  .github/workflows/cibuild.yml
Labels: Infrastructure

Simplify R_ASSERT_CURE macros
  src/Layers/xrRender/Texture.cpp
  src/Layers/xrRenderDX11/dx11Texture.cpp
  src/Layers/xrRenderGL/glTexture.cpp
  src/xrCore/Crypto/xr_sha.cpp
  src/xrCore/xrDebug_macros.h
  src/xrSound/SoundRender_Core_StartStop.cpp
  src/xrSound/SoundRender_Emitter_StartStop.cpp
  src/xrSound/SoundRender_Source.cpp
  src/xrSound/SoundRender_Target.cpp
  src/xrSound/SoundRender_TargetA.cpp
Labels: Renderer, Sound

cmake wip
  CMakeLists.txt
  CMakePresets.json
  cmake/compiler.cmake
  src/xrParticles/CMakeLists.txt
  src/xrSound/CMakeLists.txt
  src/xrUICore/CMakeLists.txt
  src/xr_3da/CMakeLists.txt
Labels: Sound, UI

AppVeyor: disable VS 2019 build [skip Actions]
  appveyor.yml
Labels: none

utils/xrCompress: remove reference to lzo.vcxproj
  src/utils/xrCompress/xrCompress.vcxproj
Labels: none

Cleanup gitignore
  .gitignore
  src/.gitignore
Labels: none

Extend the list of commits to be ignored in git blame
  .git-blame-ignore-revs
Labels: none

Partially revert "xrGame/ActorCameras.cpp: don't update same camera two times"
  src/xrGame/ActorCameras.cpp
Labels: none

xrEngine/xr_input.h: optimize memory layout of CInput class
  src/xrEngine/xr_input.cpp
  src/xrEngine/xr_input.h
Labels: none

xrEngine/pure.h: optimize memory layout of MessageRegistry class
  src/xrEngine/pure.h
Labels: none

xrGame/ParticlesPlayer.h: make parent_vel private
  src/xrGame/ParticlesPlayer.h
Labels: none

xrCore/xrCore.cpp: fix wrong git informational string usage when git isn't available (closes #1726)
  src/xrCore/xrCore.cpp
Labels: none

xrGame: remove unnecessary #ifdef XR_PLATFORM_WINDOWS
  src/xrGame/MainMenu.cpp
  src/xrGame/MainMenu.h
  src/xrGame/account_manager.cpp
  src/xrGame/account_manager_console.cpp
  src/xrGame/console_commands.cpp
  src/xrGame/login_manager.cpp
  src/xrGame/ui/ServerList.cpp
Labels: UI

Removed GameSpy patch search & download code If a new patch gets released that would be a patch for the original engine. This functionality is useless for a modified engine, like our project.
  src/xrGame/MainMenu.cpp
  src/xrGame/MainMenu.h
  src/xrGame/console_commands.cpp
  src/xrGame/login_manager.cpp
  src/xrGame/login_manager.h
  src/xrGameSpy/CMakeLists.txt
  src/xrGameSpy/GameSpy_Full.cpp
  src/xrGameSpy/GameSpy_Full.h
  src/xrGameSpy/GameSpy_Patching.cpp
  src/xrGameSpy/GameSpy_Patching.h
  src/xrGameSpy/xrGameSpy.vcxproj
  src/xrGameSpy/xrGameSpy.vcxproj.filters
Labels: none

Don't crash when Clear Sky scripts trying to change with_battleye param (#382)
  src/xrGame/ui/ServerList.h
  src/xrGame/ui/UIWindow_script.cpp
Labels: UI

Removed BattlEye remnants
  src/xrGame/CMakeLists.txt
  src/xrGame/battleye.h
  src/xrGame/battleye_system.cpp
  src/xrGame/battleye_system.h
  src/xrGame/xr_Client_BattlEye.cpp
  src/xrGame/xr_Client_BattlEye.h
  src/xrGame/xr_Server_BattlEye.cpp
  src/xrGame/xr_Server_BattlEye.h
Labels: none

Update SDL2 to 2.30.8 Removed it from xrCompress, xrGameSpy and xrNetServer
  src/Layers/xrRenderPC_GL/packages.config
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_R4/packages.config
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/editors/xrWeatherEditor/packages.config
  src/editors/xrWeatherEditor/xrWeatherEditor.vcxproj
  src/editors/xrWeatherEngine/packages.config
  src/editors/xrWeatherEngine/xrWeatherEngine.vcxproj
  src/utils/xrCompress/packages.config
  src/utils/xrCompress/xrCompress.vcxproj
  src/utils/xrCompress/xrCompress.vcxproj.filters
  src/xrCDB/packages.config
  src/xrCDB/xrCDB.vcxproj
  src/xrCDB/xrCDB_ray.cpp
  src/xrCore/packages.config
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrEngine/packages.config
  src/xrEngine/xrEngine.vcxproj
  src/xrEngine/xrEngine.vcxproj.filters
  src/xrGame/packages.config
  src/xrGame/xrGame.vcxproj
  src/xrGameSpy/packages.config
  src/xrGameSpy/stdafx.h
  src/xrGameSpy/xrGameSpy.vcxproj
  src/xrGameSpy/xrGameSpy.vcxproj.filters
  src/xrNetServer/NET_Client.cpp
  src/xrNetServer/packages.config
  src/xrNetServer/xrNetServer.vcxproj
  src/xrNetServer/xrNetServer.vcxproj.filters
  src/xrPhysics/packages.config
  src/xrPhysics/xrPhysics.vcxproj
  src/xrUICore/packages.config
  src/xrUICore/xrUICore.vcxproj
Labels: Physics, Renderer, UI

Updated DirectXMath and DirectXTex
  src/Layers/xrRenderPC_R4/packages.config
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
Labels: Renderer

xrCore/xrCore.vcxproj.filters: removed redundant filter
  src/xrCore/xrCore.vcxproj.filters
Labels: none

Place xrCompress dependencies in it's folder so that it runs correctly (fixes #1727)
  src/utils/xrCompress/xrCompress.vcxproj
  src/utils/xrCompress/xrCompress.vcxproj.filters
Labels: none

xrCompress: add SDL2 dependency to MSBuild project to address #1727
  src/utils/xrCompress/packages.config
  src/utils/xrCompress/xrCompress.vcxproj
  src/utils/xrCompress/xrCompress.vcxproj.filters
Labels: none

Gamepad axes invert and sense are now separately configurable
  src/xrEngine/FDemoRecord.cpp
  src/xrEngine/FDemoRecord.h
  src/xrEngine/IInputReceiver.h
  src/xrEngine/xr_input.cpp
  src/xrEngine/xr_ioc_cmd.cpp
  src/xrGame/Actor.h
  src/xrGame/ActorInput.cpp
  src/xrGame/Car.h
  src/xrGame/CarInput.cpp
  src/xrGame/WeaponStatMgun.h
  src/xrGame/WeaponStatMgunIR.cpp
Labels: none

Better gamepad events handling
  src/xrEngine/xr_input.cpp
Labels: none

.github/labeler.yml:

AI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrAICore/**/*
    - src/xrGame/ai/**/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

External (3rd party):
- changed-files:
  - any-glob-to-any-file:
    - Externals/**/*

Game assets:
- changed-files:
  - any-glob-to-any-file:
    - res/**/*

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Physics:
- changed-files:
  - any-glob-to-any-file:
    - src/xrPhysics/**/*

Renderer:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/**/*

DirectX:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderDX*
    - src/Layers/xrRenderPC_R1
    - src/Layers/xrRenderPC_R2
    - src/Layers/xrRenderPC_R4

OpenGL:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderGL
    - src/Layers/xrRenderPC_GL

Sound:
- changed-files:
  - any-glob-to-any-file:
    - src/xrSound/**/*

UI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrUICore/**/*
    - src/xrGame/ui/**/*
