Repository OpenXRay/xray-16, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Documentation, External (3rd party), Game assets, Infrastructure, Physics, Renderer, DirectX, OpenGL, Sound, UI

.github/labeler.yml:

AI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrAICore/**/*
    - src/xrGame/ai/**/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

External (3rd party):
- changed-files:
  - any-glob-to-any-file:
    - Externals/**/*

Game assets:
- changed-files:
  - any-glob-to-any-file:
    - res/**/*

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Physics:
- changed-files:
  - any-glob-to-any-file:
    - src/xrPhysics/**/*

Renderer:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/**/*

DirectX:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderDX*
    - src/Layers/xrRenderPC_R1
    - src/Layers/xrRenderPC_R2
    - src/Layers/xrRenderPC_R4

OpenGL:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderGL
    - src/Layers/xrRenderPC_GL

Sound:
- changed-files:
  - any-glob-to-any-file:
    - src/xrSound/**/*

UI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrUICore/**/*
    - src/xrGame/ui/**/*

xrUICore: optimize CUICursor memory layout, reorganize functions
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/Cursor/UICursor.h
Labels: UI

Remade cursor autohide mechanism (#943)
  src/xrGame/UIDialogHolder.cpp
  src/xrGame/UIDialogHolder.h
  src/xrGame/ui/UIChatWnd.h
  src/xrGame/ui/UIMapFilters.cpp
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/Cursor/UICursor.h
Labels: UI

Cleaned up some redundant/unused code in xr_object_list
  src/xrEngine/xr_object_list.cpp
Labels: none

Resolves several compile warnings when comparing different int signedness (2)
  src/Layers/xrRender/DetailManager_CACHE.cpp
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/R_Backend_DBG.cpp
  src/Layers/xrRender/light.cpp
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/xrCDB/Frustum.cpp
  src/xrCDB/xrCDB_Collector.cpp
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_Emitter.h
Labels: Renderer, Sound

Iterate through primary_crows instead of objects_active
  src/xrEngine/xr_object_list.cpp
Labels: none

Fix crash after #1751 merge
  src/xrGame/ui/UIRankingWnd.h
Labels: UI

Fix cursor disappearing after 9e4a07d3b7740d11f31a608d3f5dce1501d816a3 (#943) Also restored cursor show/hide code in StartMenu/StopMenu that was removed. It fits there.
  src/xrGame/Level.h
  src/xrGame/Level_input.cpp
  src/xrGame/MainMenu.cpp
  src/xrGame/MainMenu.h
  src/xrGame/UIDialogHolder.cpp
  src/xrGame/UIDialogHolder.h
Labels: none

Update game cursor visibility on any mouse event
  src/xrGame/UIDialogHolder.cpp
  src/xrGame/UIDialogHolder.h
Labels: none

Basic cursor demand system implementation (#943)
  src/xrGame/ui/UIDialogWnd.h
  src/xrGame/ui/UIPdaWnd.cpp
  src/xrGame/ui/UIPdaWnd.h
  src/xrGame/ui/UIScriptWnd_script.cpp
  src/xrGame/ui/UITaskWnd.cpp
  src/xrGame/ui/UITaskWnd.h
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/Windows/UIWindow.h
  src/xrUICore/Windows/UIWindow_script.cpp
Labels: UI

Fix SOC weapon zooming and grenade launcher bones usage (#392) (#1747)
  src/xrGame/Weapon.cpp
  src/xrGame/player_hud.cpp
Labels: none

xrGame/player_hud.h|cpp: default initialize variables
  src/xrGame/player_hud.cpp
  src/xrGame/player_hud.h
Labels: none

xrGame/player_hud.h: optimize memory layout of hud_item_measures and attachable_hud_item
  src/xrGame/player_hud.h
Labels: none

Add gamedata as lua modules root.
  src/xrScriptEngine/script_engine.cpp
Labels: none

Sanity: initialize renderer list in the main thread
  src/xrEngine/Engine.cpp
  src/xrEngine/EngineAPI.h
  src/xrEngine/x_ray.cpp
Labels: none

xrGame/HudSound.cpp: don't crash when hud sound section doesn't exist in the config
  src/xrGame/HudSound.cpp
Labels: none

Use snd_shoot when snd_silncer_shot doesn't exist in weapon config
  src/xrGame/WeaponMagazined.cpp
Labels: none

Fix some animations from scripts don't work properly in CS and SOC (#382, #392)
  src/xrGame/script_game_object3.cpp
Labels: none

Apply suggestions from code review
  src/xrEngine/key_binding_registrator_script.cpp
  src/xrEngine/xr_level_controller.cpp
  src/xrEngine/xr_level_controller.h
Labels: none

Add keys and actions for PDA tab (CoC 1.5r7 support, #1529) (#1541)
  src/xrEngine/key_binding_registrator_script.cpp
  src/xrEngine/xr_level_controller.cpp
  src/xrEngine/xr_level_controller.h
Labels: none

[FEATURE] Add gamedata as lua modules root. (#1610)
  src/xrScriptEngine/script_engine.cpp
Labels: none

xrGame/quadtree.h: replace VERIFY with R_ASSERT1_CURE (#1440)
  src/xrGame/quadtree.h
Labels: none
