Repository OpenXRay/xray-16, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Documentation, External (3rd party), Game assets, Infrastructure, Physics, Renderer, DirectX, OpenGL, Sound, UI

xrCore/xrMemory.h: rearrange xrMemory entries (cosmetic change)
  src/xrCore/xrMemory.h
Labels: none

xrGame/console_commands.cpp: make memory log consistent
  src/xrGame/console_commands.cpp
Labels: none

xrGame/ui/UIMMShniaga.cpp: unlock shniaga keyboard navigation
  src/xrGame/ui/UIMMShniaga.cpp
Labels: UI

xrEngine/editor_base.h: use on_tool_frame instead of OnFrame in ide_tool class Prevents clashes with the normal OnFrame in classes. Editor frame update should be called separately.
  src/xrEngine/editor_base.cpp
  src/xrEngine/editor_base.h
  src/xrGame/player_hud_tune.cpp
  src/xrGame/player_hud_tune.h
  src/xrUICore/ui_debug.cpp
  src/xrUICore/ui_debug.h
Labels: UI

Move weather editor inside CEnvironment
  src/xrEngine/CMakeLists.txt
  src/xrEngine/Environment.h
  src/xrEngine/Environment_editor.cpp
  src/xrEngine/editor_base.cpp
  src/xrEngine/editor_base.h
  src/xrEngine/thunderbolt.h
  src/xrEngine/xrEngine.vcxproj
  src/xrEngine/xrEngine.vcxproj.filters
Labels: none

xrEngine/thunderbolt.h: make params private
  src/xrEngine/thunderbolt.h
Labels: none

xrEngine/Environment_editor.cpp: no need to use ref variable
  src/xrEngine/Environment_editor.cpp
Labels: none

Include/xrRender/FactoryPtr.h: add move semantic support
  src/Include/xrRender/FactoryPtr.h
Labels: none

xrCore/xr_resource.h: move semantic support
  src/xrCore/xr_resource.h
Labels: none

WIP: Fix engine issues with SSS 21, fixed motion vectors
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRender/r__dsgraph_types.h
Labels: Renderer

Add destroy function to CRender to cleanup sss stuff
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
Labels: Renderer

Engine, shaders: add lut phase
  res/gamedata/shaders/r5/combine_2_naa.ps
  res/gamedata/shaders/r5/pp_lut.ps
  src/Layers/xrRender/blenders/blender_lut.cpp
  src/Layers/xrRender/blenders/blender_lut.h
  src/Layers/xrRender/rendertarget_phase_lut.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
Labels: Game assets, Renderer

Add textures for SSS 18.1 -> 21 update
  res/gamedata/textures/fx/water_height.dds
  res/gamedata/textures/fx/water_wind.dds
  res/gamedata/textures/fx/wind_wave.dds
  res/gamedata/textures/grnd/grnd_rocks_02_bump.dds
  res/gamedata/textures/shaders/lut_atlas.dds
  res/gamedata/textures/terrain/default_lod_textures.dds
  res/gamedata/textures/terrain/terrain_bar_lod_textures.dds
  res/gamedata/textures/terrain/terrain_darkvalley_lod_textures.dds
  res/gamedata/textures/terrain/terrain_dry_gully_1_lod_textures.dds
  res/gamedata/textures/terrain/terrain_escape_lod_textures.dds
  res/gamedata/textures/terrain/terrain_garbage_new_lod_textures.dds
  res/gamedata/textures/terrain/terrain_gr.thm
  res/gamedata/textures/terrain/terrain_jupiter_lod_textures.dds
  res/gamedata/textures/terrain/terrain_marsh_lod_textures.dds
  res/gamedata/textures/terrain/terrain_pole.thm
  res/gamedata/textures/terrain/terrain_pole_lod_textures.dds
  res/gamedata/textures/terrain/terrain_poligon2_lod_textures.dds
  res/gamedata/textures/terrain/terrain_radar_2_lod_textures.dds
  res/gamedata/textures/terrain/terrain_red_forest_lod_textures.dds
  res/gamedata/textures/terrain/terrain_yantar_lod_textures.dds
  res/gamedata/textures/terrain/terrain_zaton.thm
  res/gamedata/textures/terrain/terrain_zaton_lod_textures.dds
  res/gamedata/textures/water/water_perlin.dds
Labels: Game assets

Add build_details_bump for vanilla levels, thx @ascii1457 for providing
  res/gamedata/textures/levels/jupiter/build_details_bump.dds
  res/gamedata/textures/levels/pripyat/build_details_bump.dds
  res/gamedata/textures/levels/zaton/build_details_bump.dds
Labels: Game assets

Add placeholder _height textures for SSS terrain
  res/gamedata/textures/detail/detail_grnd_asphalt_height.dds
  res/gamedata/textures/detail/detail_grnd_cracked_height.dds
  res/gamedata/textures/detail/detail_grnd_earth_height.dds
  res/gamedata/textures/detail/detail_grnd_grass_height.dds
  res/gamedata/textures/detail/detail_grnd_leaves_height.dds
  res/gamedata/textures/detail/detail_grnd_pebbles_height.dds
  res/gamedata/textures/detail/detail_grnd_plates_height.dds
  res/gamedata/textures/detail/detail_grnd_sand_height.dds
  res/gamedata/textures/detail/detail_grnd_yantar_height.dds
Labels: Game assets

Recompiled dependencies to fix building on Windows
  sdk/libraries/ARM/libogg_static.lib
  sdk/libraries/ARM/libtheora_static.lib
  sdk/libraries/ARM/libvorbis_static.lib
  sdk/libraries/ARM/libvorbisfile.lib
  sdk/libraries/ARM/lzo.lib
  sdk/libraries/ARM64/libogg_static.lib
  sdk/libraries/ARM64/libtheora_static.lib
  sdk/libraries/ARM64/libvorbis_static.lib
  sdk/libraries/ARM64/libvorbisfile.lib
  sdk/libraries/ARM64/lzo.lib
  sdk/libraries/x64/libogg_static.lib
  sdk/libraries/x64/libtheora_static.lib
  sdk/libraries/x64/libvorbis_static.lib
  sdk/libraries/x64/libvorbisfile.lib
  sdk/libraries/x64/lzo.lib
  sdk/libraries/x86/libogg_static.lib
  sdk/libraries/x86/libtheora_static.lib
  sdk/libraries/x86/libvorbis_static.lib
  sdk/libraries/x86/libvorbisfile.lib
  sdk/libraries/x86/lzo.lib
Labels: none

Fix x86 Windows build with the new Visual Studio version
  src/xrPhysics/xrPhysics.vcxproj
Labels: Physics

misc/media: moved .psd files to separate repository
  misc/media/OpenXRay Splash.500x268.psd
Labels: none

Github Actions: use latest FreeBSD 14.2 and OpenBSD 7.6
  .github/workflows/cibuild.yml
Labels: Infrastructure

Disabled slots stuffing for Trader
  src/xrGame/ai/trader/ai_trader.h
Labels: AI

Trader's sound will be play from his head position instead of playing "in player's head"
  src/xrGame/ai/trader/trader_animation.cpp
  src/xrGame/ai/trader/trader_animation.h
Labels: AI

xrGame/inventory_item.h: m_can_trade is now bool instead of BOOL
  src/xrGame/inventory_item.cpp
  src/xrGame/inventory_item.h
Labels: none

Inventory fixes for SOC (#392)
  res/gamedata/configs/openxray.ltx
  src/xrGame/Inventory.cpp
  src/xrGame/inventory_item.cpp
Labels: Game assets

Fix SOC/CS slots ordering support (#382, #392)
  res/gamedata/configs/openxray.ltx
  src/xrGame/script_game_object_inventory_owner.cpp
Labels: Game assets

xrGame/movement_manager_game.cpp: fix engine crash when trying to log invalid vertex id
  src/xrGame/movement_manager_game.cpp
Labels: none

Fix bolt/grenade throwing in SOC (#392)
  src/xrGame/Missile.cpp
  src/xrGame/Missile.h
Labels: none

Improvements for Trader's head rotating
  src/xrGame/ai/trader/ai_trader.cpp
Labels: AI

xrEngine/embedded_resources_management.h: flip the surface in-place (no allocations) Thanks to ChatGPT
  src/xrEngine/embedded_resources_management.h
Labels: none

Brand new HQ splash screen!
  src/xr_3da/resource.rc
  src/xr_3da/splash_oxr.bmp
  src/xr_3da/splash_xrcs_en.bmp
  src/xr_3da/splash_xrcs_pl.bmp
  src/xr_3da/splash_xrcs_ru.bmp
  src/xr_3da/xr_3da.vcxproj
  src/xr_3da/xr_3da.vcxproj.filters
Labels: none

Disable SDL2 text input mode by default
  src/xrEngine/x_ray.cpp
Labels: none

TaskManager: allow optional system events update during task waiting
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/Threading/TaskManager.hpp
Labels: none

Rewrite console rendering code to use ImGui Much better UX, fonts, looks (it's fancy!), etc.
  src/xrEngine/IGame_Persistent.cpp
  src/xrEngine/Text_Console.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrEngine/XR_IOConsole_callback.cpp
  src/xrEngine/editor_base.cpp
  src/xrEngine/editor_base.h
  src/xrEngine/editor_base_input.cpp
Labels: none

Removed line_editor as it's no longer needed
  src/xrEngine/CMakeLists.txt
  src/xrEngine/Text_Console.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrEngine/line_editor.cpp
  src/xrEngine/line_editor.h
  src/xrEngine/xrEngine.vcxproj
  src/xrEngine/xrEngine.vcxproj.filters
Labels: none

GitHub Actions: remove .rc files from style checking [skip ci]
  .github/workflows/stylecheck.yml
Labels: Infrastructure

Improve console history navigation
  src/xrEngine/XR_IOConsole_callback.cpp
Labels: none

Scroll log in the console only if the user is looking at the end of the log
  src/xrEngine/XR_IOConsole.cpp
Labels: none

Cleanup console code
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrEngine/XR_IOConsole_get.cpp
  src/xrEngine/xr_ioc_cmd.cpp
Labels: none

xrRender_R2/r2_sun_support.h: modernize and cleanup code
  src/Layers/xrRender_R2/r2_R_sun_support.h
Labels: Renderer

xrRender/DetailManager_*.cpp: modernize and cleanup the code
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager_Decompress.cpp
  src/Layers/xrRenderDX11/dx11DetailManager_VS.cpp
Labels: Renderer

README.md: contributors update
  README.md
Labels: none

.github/labeler.yml:

AI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrAICore/**/*
    - src/xrGame/ai/**/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

External (3rd party):
- changed-files:
  - any-glob-to-any-file:
    - Externals/**/*

Game assets:
- changed-files:
  - any-glob-to-any-file:
    - res/**/*

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Physics:
- changed-files:
  - any-glob-to-any-file:
    - src/xrPhysics/**/*

Renderer:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/**/*

DirectX:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderDX*
    - src/Layers/xrRenderPC_R1
    - src/Layers/xrRenderPC_R2
    - src/Layers/xrRenderPC_R4

OpenGL:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderGL
    - src/Layers/xrRenderPC_GL

Sound:
- changed-files:
  - any-glob-to-any-file:
    - src/xrSound/**/*

UI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrUICore/**/*
    - src/xrGame/ui/**/*
