Repository OpenXRay/xray-16, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Documentation, External (3rd party), Game assets, Infrastructure, Physics, Renderer, DirectX, OpenGL, Sound, UI

.github/labeler.yml:

AI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrAICore/**/*
    - src/xrGame/ai/**/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*

External (3rd party):
- changed-files:
  - any-glob-to-any-file:
    - Externals/**/*

Game assets:
- changed-files:
  - any-glob-to-any-file:
    - res/**/*

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Physics:
- changed-files:
  - any-glob-to-any-file:
    - src/xrPhysics/**/*

Renderer:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/**/*

DirectX:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderDX*
    - src/Layers/xrRenderPC_R1
    - src/Layers/xrRenderPC_R2
    - src/Layers/xrRenderPC_R4

OpenGL:
- changed-files:
  - any-glob-to-any-file:
    - src/Layers/xrRenderGL
    - src/Layers/xrRenderPC_GL

Sound:
- changed-files:
  - any-glob-to-any-file:
    - src/xrSound/**/*

UI:
- changed-files:
  - any-glob-to-any-file:
    - src/xrUICore/**/*
    - src/xrGame/ui/**/*

Just some chill trolling for @v2v3v4
  README.md
Labels: none

SoC PDA IDs patching
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Removed SoC check
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

PR Fixes
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Apply suggestions from code review
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Apply suggestions from code review
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Update src/xrGame/ui/UIPdaWnd.cpp
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Fix trailing whitespace [skip ci]
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

Support SOC PDA tab IDs (#392) (#1746)
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI

wip
  src/xrGame/alife_simulator_script.cpp
  src/xrGame/player_hud.cpp
Labels: none

SOC WIP
  src/Layers/xrRender/dxUIRender.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrGame/Level_input.cpp
  src/xrGame/WeaponMagazined.cpp
  src/xrGame/ai/monsters/dog/dog.cpp
  src/xrGame/ui/UIPdaWnd.cpp
  src/xrGame/ui/UITalkDialogWnd.cpp
Labels: AI, Renderer, UI

HUD WIP
  src/xrGame/player_hud.cpp
Labels: none

Introduced game material system versioning helpers (#392)
  src/xrMaterialSystem/GameMtlLib.cpp
  src/xrMaterialSystem/GameMtlLib.h
Labels: none

xrRender: added SSAO mode enumeration to make it more controllable and readable
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender/xrRender_console.h
  src/Layers/xrRender_R2/r2_rendertarget.cpp
Labels: Renderer

Set default SSAO mode enabled by default (closes #1739)
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender_R2/r2.cpp
Labels: Renderer

xrEngine/Device_create.cpp: don't use Device inside Device
  src/xrEngine/Device_create.cpp
Labels: none

var game_type converted to i32 in all instances
  src/xrSound/Sound.h
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_Core.h
Labels: Sound

explicit conversion to u32 of GetCurrentProcessId()/getpid() in Server_Client_Check function
  src/xrGame/xrServer.cpp
Labels: none

SoC Grenade launcher bone fix
  src/xrGame/Weapon.cpp
Labels: none

PR Fix
  src/xrGame/Weapon.cpp
Labels: none

PR Fixes for Grenade Launcher bone bug
  src/xrGame/Weapon.cpp
Labels: none

SoC UI XMLs loading fix
  src/xrUICore/XML/UIXmlInitBase.cpp
Labels: UI

SoC HUD weapon zooming fix
  src/xrGame/player_hud.cpp
Labels: none

SoC HUD weapon zooming fix
  src/xrGame/player_hud.cpp
Labels: none

SoC Grenade launcher bone fix
  src/xrGame/Weapon.cpp
Labels: none

local variable "c" converted to size_t
  src/xrCore/FixedVector.h
Labels: none

Port changes from OGSR - uiShadersCache; improves #1748
  src/Include/xrRender/UIShader.h
  src/Layers/xrRender/dxUIRender.cpp
  src/Layers/xrRender/dxUIRender.h
  src/Layers/xrRender/dxUIShader.cpp
  src/Layers/xrRender/dxUIShader.h
  src/xrGame/ui/UILoadingScreen.cpp
  src/xrGame/ui/UIStatsIcon.cpp
  src/xrUICore/Static/UIStatic.h
  src/xrUICore/Static/UIStaticItem.cpp
  src/xrUICore/Static/UIStaticItem.h
Labels: Renderer, UI

Port changes from OGSR - cellItem xml optimization; improves #1748
  src/xrGame/ui/UICellItem.cpp
Labels: UI

Don't crash or throw when encyclopedia and info portions are missing or corrupted
  src/xrGame/encyclopedia_article.cpp
  src/xrServerEntities/xml_str_id_loader.h
Labels: none

xrPhysics/PHGeometryOwner.cpp: replace predicate object with lambda
  src/xrPhysics/PHGeometryOwner.cpp
Labels: Physics

xrGame/GameObject.cpp: moved script clsid resetting to a later moment
  src/xrGame/GameObject.cpp
  src/xrGame/GameObject.h
Labels: none

var "m_style_id" explictly converted to int
  src/xrUICore/ui_styles.cpp
Labels: UI

calculate_packed_xz() refactored in level_graph_inline.h
  src/xrAICore/Navigation/level_graph.h
  src/xrAICore/Navigation/level_graph_inline.h
Labels: AI

Add `CALifeStorageManager_after_load` callback for consistency.
  src/xrGame/alife_storage_manager.cpp
Labels: none

resolves several warning compilations when comparing differents signedness
  src/Layers/xrRender/AnimationKeyCalculate.h
  src/Layers/xrRender/r__sector.cpp
  src/Layers/xrRenderGL/glTextureUtils.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/render_phase_sun.cpp
Labels: Renderer

Corrected comment.
  src/xrGame/alife_storage_manager.cpp
Labels: none

[LUA] Add `CALifeStorageManager_after_load` callback for consistency. (#1754)
  src/xrGame/alife_storage_manager.cpp
Labels: none

Fix exporting of `cse_alife_inventory_item` upgrades methods.
  src/xrServerEntities/xrServer_Objects_ALife_Items_script.cpp
Labels: none

[LUA] Fix exporting of `cse_alife_inventory_item` upgrades methods. (#1756)
  src/xrServerEntities/xrServer_Objects_ALife_Items_script.cpp
Labels: none

Don't notify about missing function objects/functors
  src/xrScriptEngine/script_engine.cpp
Labels: none
