Repository OpenXRay/xray-16, pull requests merged in 2018-05, with the labels that each got.

#199 Try to fix "SMAP_size" crash in OpenGL render on AMD video cards part #1
  src/Layers/xrRenderPC_GL/rgl.cpp
Labels: Render, pending review

#200 Try to fix "SMAP_size" crash in OpenGL render on AMD video cards part #2
  res/gamedata/shaders/gl/common_defines.h
Labels: Render

#198 Added parallelism to computing covers
  src/xrGame/cover_manager.cpp
  src/xrGame/cover_manager.h
Labels: Enhancement, Performance

#205 xrCore build on Linux
  src/CMakeLists.txt
  src/Common/PlatformLinux.inl
  src/utils.cmake
  src/xrCore/CMakeLists.txt
  src/xrCore/FS.cpp
  src/xrCore/FS.h
  src/xrCore/FS_internal.h
  src/xrCore/FileSystem.cpp
  src/xrCore/FileSystem_borland.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/LocatorAPI_defs.cpp
  src/xrCore/LzHuf.cpp
  src/xrCore/ModuleLookup.cpp
  src/xrCore/NET_utils.cpp
  src/xrCore/PPMdType.h
  src/xrCore/PostProcess/PPInfo.cpp
  src/xrCore/PostProcess/PostProcess.cpp
  src/xrCore/Threading/Event.cpp
  src/xrCore/Threading/Event.hpp
  src/xrCore/_math.cpp
  src/xrCore/_std_extensions.cpp
  src/xrCore/_std_extensions.h
  src/xrCore/_types.h
  src/xrCore/cpuid.cpp
  src/xrCore/file_stream_reader.cpp
  src/xrCore/log.cpp
  src/xrCore/lzo_compressor.cpp
  src/xrCore/lzo_compressor.h
  src/xrCore/os_clipboard.cpp
  src/xrCore/ppmd_compressor.cpp
  src/xrCore/stream_reader.cpp
  src/xrCore/stream_reader.h
  src/xrCore/stream_reader_inline.h
  src/xrCore/string_concatenations.cpp
  src/xrCore/xrCore.cpp
  src/xrCore/xrCore.h
  src/xrCore/xrDebug.cpp
  src/xrCore/xrDebug.h
  src/xrCore/xrMemory.cpp
  src/xrCore/xrMemory.h
  src/xrCore/xr_ini.cpp
  src/xrCore/xrstring.h
Labels: Portability
