Repository OpenXRay/xray-16, pull requests merged in 2018-12, with the labels that each got.

#282 Alpha version of Linux
  CMakeLists.txt
  Externals/OPCODE/CMakeLists.txt
  Externals/luajit.cmake
  Externals/ode/CMakeLists.txt
  Externals/ode/ode/src/joint.cpp
  cmake/FindTBB.cmake
  src/Common.props
  src/Common/PlatformLinux.inl
  src/Common/Util.hpp
  src/Layers/xrRender/HOM.cpp
  src/Layers/xrRender/ParticleEffect.cpp
  src/Layers/xrRender/ResourceManager.cpp
  src/Layers/xrRender/occRasterizer.cpp
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/utils/xrAI/space_restrictor_wrapper.h
  src/utils/xrLCUtil/CMakeLists.txt
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/Math/MathUtil.cpp
  src/xrCore/Math/Skin4W_MT.cpp
  src/xrCore/Math/Skin4W_MT.hpp
  src/xrCore/Math/SkinXW_CPP.cpp
  src/xrCore/Threading/ThreadPool.cpp
  src/xrCore/Threading/ThreadPool.hpp
  src/xrCore/_bitwise.h
  src/xrCore/_std_extensions.h
  src/xrCore/net_utils.h
  src/xrCore/xrCore.cpp
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrCore/xrMemory.cpp
  src/xrCore/xrMemory.h
  src/xrEngine/xrSheduler.cpp
  src/xrGame/CMakeLists.txt
  src/xrGame/HudSound.cpp
  src/xrGame/HudSound.h
  src/xrGame/cover_manager.cpp
  src/xrGame/player_hud.cpp
  src/xrGame/player_hud.h
  src/xrGameSpy/CMakeLists.txt
  src/xrNetServer/CMakeLists.txt
  src/xrParticles/particle_actions.h
  src/xrParticles/particle_actions_collection.cpp
  src/xrParticles/particle_actions_collection_io.cpp
  src/xrParticles/particle_effect.cpp
  src/xrParticles/particle_manager.cpp
  src/xrParticles/particle_manager.h
  src/xrParticles/psystem.h
  src/xrPhysics/CMakeLists.txt
  src/xrPhysics/xrPhysics.cpp
  src/xrScriptEngine/CMakeLists.txt
  src/xrScriptEngine/script_engine.cpp
  src/xrSound/CMakeLists.txt
  src/xrUICore/CMakeLists.txt
  src/xr_3da/entry_point.cpp
Labels: Portability, pending review

#298 Fix crash on trying to get new patches info
  src/xrGame/console_commands.cpp
Labels: Bug, ready to merge

#301 Reimplement game_cl_mp::generate_file_name
  src/Common/PlatformLinux.inl
  src/Common/PlatformWindows.inl
  src/xrGame/game_cl_mp.cpp
  src/xrGame/game_cl_mp.h
  src/xrGame/screenshot_server.cpp
Labels: Portability

#302 Fix 'silent' update checking
  src/xrGame/console_commands.cpp
Labels: Bug
