Repository OpenXRay/xray-16, pull requests merged in 2018-11, with the labels that each got.

#271 More user-friendly report of missing keys
  src/xrEngine/xr_input.cpp
  src/xrGame/xr_level_controller.cpp
Labels: Enhancement, User Experience

#272 Improve script reset notifying system
  src/utils/xrSE_Factory/ai_space.cpp
  src/utils/xrSE_Factory/ai_space.h
  src/xrCore/Events/Notifier.h
  src/xrGame/MainMenu.cpp
  src/xrGame/ai_space.cpp
  src/xrGame/ai_space.h
  src/xrGame/ui/UIWpnParams.cpp
  src/xrServerEntities/object_factory_inline.h
Labels: Code Quality, Conventions, Documentation, Enhancement

#275 Various minor improvements
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/xrCore/LocatorAPI.cpp
  src/xrCore/_math.cpp
  src/xrGame/alife_monster_patrol_path_manager.h
  src/xrGame/alife_monster_patrol_path_manager_inline.h
  src/xrGame/faster_than_bullets_time.cpp
  src/xrGame/game_sv_base.cpp
  src/xrGame/harvest_time.cpp
  src/xrGame/inventory_quickswitch.cpp
  src/xrGame/spectator_camera_first_eye.h
  src/xrGame/state_arguments_functions.cpp
  src/xrGame/state_arguments_functions.h
  src/xrGame/ui/UIMap.h
  src/xrSound/OpenALDeviceList.cpp
Labels: Code Quality

#283 Fix OpenGL in Mesa drivers
  res/gamedata/shaders/gl/copy.ps
  res/gamedata/shaders/gl/copy_p.ps
  res/gamedata/shaders/gl/shadow.h
  src/Layers/xrRenderGL/glHW.cpp
  src/xrEngine/Device_Initialize.cpp
Labels: Enhancement, Portability, Render
