Repository OpenXRay/xray-16, pull requests merged in 2019-03, with the labels that each got.

#363 Resolve the problem with system.ltx compatibility for vanilla mods
  res/gamedata/configs/system.ltx
  src/xrGame/Inventory.cpp
  src/xrGame/Inventory.h
  src/xrServerEntities/inventory_space.h
Labels: Developer Experience, Enhancement, User Experience

#297 Minor documentation fixes
  doc/howto/build-linux.txt
Labels: Developer Experience, Documentation, Enhancement

#368 LAN game launch segfaults on Linux, fix proposal.
  src/xrUICore/EditBox/UICustomEdit.cpp
Labels: Bug, UI

#376 Dead code removed
  src/xrGame/ui/UIInventoryUtilities.cpp
Labels: Enhancement, UI

#377 Linux build: removed pugixml linking
  src/xrUICore/CMakeLists.txt
Labels: Infrastructure

#378 Linux build: removed pugixml linking from xrGame
  src/xrGame/CMakeLists.txt
Labels: Infrastructure
