Repository OpenXRay/xray-16, pull requests merged in 2019-02, with the labels that each got.

#323 FixedMAP comeback
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRender/r__dsgraph_render_lods.cpp
  src/Layers/xrRender/r__dsgraph_types.h
  src/Layers/xrRenderPC_R2/r2_loader.cpp
  src/Layers/xrRenderPC_R3/r3_loader.cpp
  src/Layers/xrRenderPC_R4/r4_loader.cpp
  src/xrCore/Containers/FixedMap.h
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
Labels: Performance, Render

#348 Fix for compilers build after editors removing
  src/utils/communicate.h
  src/utils/xrAI/ESceneAIMapTools.cpp
  src/utils/xrAI/ESceneAIMapTools.h
  src/utils/xrAI/ESceneAIMapTools_Export.cpp
  src/utils/xrAI/ESceneAIMapTools_Export.h
  src/utils/xrAI/ESceneClassList.h
  src/utils/xrAI/ESceneCustomMTools.cpp
  src/utils/xrAI/ESceneCustomMTools.h
  src/utils/xrAI/compiler.h
  src/utils/xrLC_Light/global_calculation_data.h
  src/utils/xrLC_Light/xrLC_GlobalData.h
  src/utils/xrLC_Light/xrLC_Light.h
Labels: Infrastructure

#346 Numerous improvements for command line renderer selection
  res/gamedata/scripts/ui_mm_opt_video.script
  src/xrEngine/Device_Initialize.cpp
  src/xrEngine/main.cpp
  src/xrEngine/xr_ioc_cmd.cpp
  src/xrEngine/xr_ioc_cmd.h
  src/xrGame/console_registrator_script.cpp
Labels: Bug, Enhancement, User Experience

#340 Double free and game intro fix
  src/xrGame/Level.cpp
  src/xrGame/PHCommander.cpp
  src/xrGame/PHCommander.h
  src/xrGame/script_game_object_use.cpp
  src/xrGame/ui/UIGameTutorial.cpp
  src/xrUICore/TrackBar/UITrackBar.cpp
Labels: Bug

#350 [LuaJit] Avoid submodule pollution
  Externals/LuaJIT-proj/BuildVm.vcxproj
  Externals/LuaJIT-proj/minilua.vcxproj
Labels: Developer Experience

#351 Moving forward more portability with FreeBSD.
  src/Common/Platform.hpp
  src/Common/PlatformBSD.inl
  src/xrCore/Compression/ppmd_compressor.cpp
  src/xrCore/FS.cpp
  src/xrCore/FS_internal.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/ModuleLookup.cpp
  src/xrCore/_bitwise.h
  src/xrCore/_math.cpp
  src/xrCore/_vector3d.h
  src/xrCore/_vector4.h
  src/xrCore/cpuid.cpp
  src/xrCore/stream_reader.h
  src/xrCore/stream_reader_inline.h
  src/xrCore/string_concatenations.cpp
  src/xrCore/string_concatenations.h
  src/xrCore/xr_ini.cpp
Labels: Portability
