Repository OpenXRay/xray-16, pull requests merged in 2019-09, with the labels that each got.

#456 make timestamp() function cross-platform and thread-safe
  src/xrCore/_std_extensions.cpp
  src/xrCore/_std_extensions.h
Labels: Portability

#455 Ability to undo sudo make install command
  .gitignore
  CMakeLists.txt
  cmake/cmake_uninstall.cmake.in
Labels: Player Experience, Portability

#459 Unload all ammo
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrUICore/UIMessages.h
Labels: Gameplay, Player Experience

#462 Unload all weapons bugfix
  src/xrGame/ui/UIActorMenuInventory.cpp
Labels: Bug

#464 Update configuration to disable Travis CI warnings on build
  .travis.yml
Labels: Developer Experience

#466 Build fixed after profiler resurrection
  src/engine.sln
  src/utils/xrAI/StdAfx.h
  src/utils/xrAI/factory_api.h
  src/utils/xrAI/xrAI.cpp
  src/utils/xrAI/xrAI.vcxproj
  src/xrAICore/CMakeLists.txt
  src/xrEngine/profiler.cpp
  src/xrEngine/profiler.h
Labels: Bug

#465 CHW: WSI surface parameters encapsulated
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/r__screenshot.cpp
  src/Layers/xrRenderDX10/dx10HW.cpp
  src/Layers/xrRenderDX10/dx10HW.h
  src/Layers/xrRenderDX9/dx9HW.cpp
  src/Layers/xrRenderDX9/dx9HW.h
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderGL/glHW.h
  src/Layers/xrRenderPC_R3/r3_rendertarget.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget.cpp
Labels: Portability, Render

#471 HW: presentation and surface state encapsulated
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/R_Backend_Runtime.cpp
  src/Layers/xrRenderDX10/dx10HW.cpp
  src/Layers/xrRenderDX10/dx10HW.h
  src/Layers/xrRenderDX9/dx9HW.cpp
  src/Layers/xrRenderDX9/dx9HW.h
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderGL/glHW.h
Labels: Developer Experience, Portability, Render
