Repository OpenXRay/xray-16, pull requests merged in 2019-01, with the labels that each got.

#319 xrGame: fixed incorrect "ik_cam_shift_speed" console command
  src/xrGame/console_commands.cpp
Labels: Bug, Code Quality

#321 Editorconfig: UTF-8 w\b is set as the default encoding
  src/.editorconfig
Labels: Infrastructure

#318 Fix crash and xray allocator
  res/gamedata/configs/ui/pda_fraction_war.xml
  res/gamedata/configs/ui/pda_fraction_war_16.xml
  src/xrCore/CMakeLists.txt
  src/xrCore/Memory/xalloc.h
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrCore/xrMemory.h
  src/xrEngine/pure.h
Labels: Bug

#327 Add FOV to UI Options
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  res/gamedata/scripts/ui_mm_opt_gameplay.script
  src/xrUICore/TrackBar/UITrackBar.cpp
  src/xrUICore/TrackBar/UITrackBar.h
  src/xrUICore/XML/UIXmlInitBase.cpp
Labels: Gameplay, User Experience

#330 Resources \ UI: Improved FOV tracker in Settings
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  src/xrUICore/TrackBar/UITrackBar.cpp
  src/xrUICore/TrackBar/UITrackBar.h
  src/xrUICore/XML/UIXmlInitBase.cpp
Labels: UI, User Experience

#314 Using more portable features for further FreeBSD portage.
  src/Common/PlatformLinux.inl
  src/xrCore/_math.cpp
  src/xrCore/cpuid.cpp
Labels: Portability

#337 Add luajit *.obj files to gitignore
  .gitignore
Labels: Enhancement

#338 xrRender_R4: Possible fix to DX11 crash on game startup
  src/Layers/xrRenderDX10/dx10HW.cpp
Labels: Bug, Render

#336 Couple of fixes and minor refactoring.
  src/Layers/xrRender/ShaderResourceTraits.h
  src/Layers/xrRenderPC_R1/FStaticRender_Shaders.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R3/r3_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
  src/xrEngine/device.cpp
  src/xrGame/GamePersistent.cpp
  src/xrGame/base_client_classes_script.cpp
  src/xrGame/base_client_classes_wrappers.h
Labels: Bug, Code Quality, Enhancement
