Repository OpenXRay/xray-16, pull requests merged in 2019-04, with the labels that each got.

#384 Unixification of some errors handling related to memory mappings.
  src/xrCore/FS.cpp
  src/xrCore/LocatorAPI.cpp
Labels: Enhancement

#387 xrEngine: Stats: Separate FPS counter (Closes #171)
  src/xrEngine/Stats.cpp
  src/xrEngine/Stats.h
  src/xrEngine/defines.h
  src/xrEngine/xr_ioc_cmd.cpp
Labels: Developer Experience, Enhancement, UI, User Experience

#393 ODE - Disabling linux-ism for FreeBSD
  Externals/ode/include/ode/config.h
Labels: Portability

#390 Small changes in gamepad support
  src/xrEngine/xr_input.cpp
  src/xrEngine/xr_input.h
  src/xrEngine/xr_input_xinput.cpp
  src/xrGame/Level.h
  src/xrGame/Level_input.cpp
  src/xrGame/MainMenu.cpp
  src/xrGame/MainMenu.h
Labels: Enhancement, User Experience
