Repository OpenXRay/xray-16, pull requests merged in 2019-10, with the labels that each got.

#478 xrRender: HW: `Validate` removed
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRenderDX10/dx10HW.h
  src/Layers/xrRenderDX9/dx9HW.cpp
  src/Layers/xrRenderDX9/dx9HW.h
  src/Layers/xrRenderGL/glHW.h
  src/xrEngine/Device_destroy.cpp
  src/xrEngine/Render.h
Labels: Render

#477 xrRenderer: DX9: Render target implementation moved into DX9 folder
  src/Layers/xrRenderDX9/dx9SH_RT.cpp
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj.filters
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
Labels: Portability, Render

#463 xrRenderPC_GL: Sun and rain rewrited from D3DXMath to glm
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/gl_R_render.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_GL/r3_R_rain.cpp
  src/Layers/xrRenderPC_GL/rgl.cpp
  src/Layers/xrRenderPC_GL/rgl.h
Labels: Performance, Portability, Renderer

#480 Linux added by PKGBUIKLD to create the ArchLinux package and its base…
  ArchLinux/PKGBUILD
  ArchLinux/info.install
Labels: Linux, Portability

#484 xrCore: application title member added
  src/xrCore/xrCore.h
  src/xrEngine/Device_Initialize.cpp
Labels: Core

#485 xrRenderer: common types introduced
  src/Layers/xrRender/xrD3DDefs.h
  src/Layers/xrRenderDX10/CommonTypes.h
  src/Layers/xrRenderDX11/CommonTypes.h
  src/Layers/xrRenderDX9/CommonTypes.h
  src/Layers/xrRenderGL/CommonTypes.h
  src/Layers/xrRenderPC_GL/stdafx.h
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R1/stdafx.h
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj.filters
  src/Layers/xrRenderPC_R2/stdafx.h
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
  src/Layers/xrRenderPC_R3/stdafx.h
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj.filters
  src/Layers/xrRenderPC_R4/stdafx.h
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
Labels: Renderer

#494 Fix: Release build fixed
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/R_Backend_DBG.cpp
Labels: Bug, Renderer

#496 Option for autounload weapon after picking up (#496, closes #274)
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  res/gamedata/scripts/ui_mm_opt_gameplay.script
  src/xrGame/Inventory.cpp
  src/xrGame/console_commands.cpp
Labels: Gameplay, Player Experience

#502 Autosave screenshot SEGFAULT ( GCC x64 )
  src/Layers/xrRender/r__screenshot.cpp
Labels: Bug, Linux
