Repository OpenXRay/xray-16, pull requests merged in 2019-05, with the labels that each got.

#397 xr_3da.sh: Quote LIBRARY_PATH to handle spaces in path
  src/xr_3da/xr_3da.sh
Labels: Portability

#388 xrEngine: Console: Use SDL text input mode only when console is active
  src/xrEngine/IInputReceiver.h
  src/xrEngine/edit_actions.cpp
  src/xrEngine/line_edit_control.cpp
  src/xrEngine/line_edit_control.h
  src/xrEngine/line_editor.cpp
  src/xrEngine/line_editor.h
  src/xrEngine/xr_input.cpp
Labels: Bug, Developer Experience, User Experience

#403 Fix for sky reflection in water
  res/gamedata/shaders/r2/water.ps
Labels: Player Experience, Render

#405 Re-enabled 8x multisample antialiasing
  src/Layers/xrRender/xrRender_console.cpp
Labels: Player Experience, Render

#407 Added option to create all sound sources on startup
  src/xrEngine/xr_ioc_cmd.cpp
  src/xrSound/Sound.h
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_Core.h
  src/xrSound/SoundRender_Core_SourceManager.cpp
Labels: Performance, Sound
