Repository OpenXRay/xray-16, pull requests merged in 2019-11, with the labels that each got.

#505 PKGBUILD fix
  ArchLinux/PKGBUILD
Labels: Linux, Portability

#491 Game version switcher
  res/fsgame.ltx
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/message_box.xml
  res/gamedata/configs/ui/message_box_16.xml
  res/gamedata/configs/ui/ui_mm_versions_dlg.xml
  res/gamedata/configs/ui/ui_mm_versions_dlg_16.xml
  res/gamedata/scripts/ui_main_menu.script
  res/gamedata/scripts/ui_versions_dialog.script
  src/xrCommon/xr_string.h
  src/xrGame/ScriptXMLInit.cpp
  src/xrGame/ScriptXMLInit.h
  src/xrGame/VersionSwitcher.cpp
  src/xrGame/VersionSwitcher.h
  src/xrGame/ui/ServerList.cpp
  src/xrGame/ui/ServerList.h
  src/xrGame/ui/UIVersionList.cpp
  src/xrGame/ui/UIVersionList.h
  src/xrGame/ui/UIWindow_script.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
Labels: Call of Pripyat, Clear Sky, Enhancement, Multiplayer, Player Experience, Shadow of Chernobyl

#507 [skip appveyor] added trailing separator on categories
  res/openxray.desktop
Labels: Linux, Portability

#512 xrRender: staged geometry loading (#489)
  src/Layers/xrRender/BufferUtils.h
  src/Layers/xrRender/DetailManager_VS.cpp
  src/Layers/xrRender/FBasicVisual.cpp
  src/Layers/xrRender/FBasicVisual.h
  src/Layers/xrRender/FLOD.cpp
  src/Layers/xrRender/FSkinned.cpp
  src/Layers/xrRender/FTreeVisual.cpp
  src/Layers/xrRender/FVisual.cpp
  src/Layers/xrRender/ModelPool.cpp
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/ResourceManager.h
  src/Layers/xrRender/ResourceManager_Resources.cpp
  src/Layers/xrRender/SH_Atomic.h
  src/Layers/xrRender/Shader.cpp
  src/Layers/xrRender/Shader.h
  src/Layers/xrRender/SkeletonX.cpp
  src/Layers/xrRender/SkeletonX.h
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidGrid.cpp
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidGrid.h
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidRenderer.cpp
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidRenderer.h
  src/Layers/xrRenderDX10/dx10BufferUtils.cpp
  src/Layers/xrRenderGL/glBufferPool.cpp
  src/Layers/xrRenderGL/glBufferPool.h
  src/Layers/xrRenderGL/glBufferUtils.cpp
  src/Layers/xrRenderPC_GL/glResourceManager_Resources.cpp
  src/Layers/xrRenderPC_GL/gl_loader.cpp
  src/Layers/xrRenderPC_GL/rgl.cpp
  src/Layers/xrRenderPC_GL/rgl.h
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R2/r2.cpp
  src/Layers/xrRenderPC_R2/r2.h
  src/Layers/xrRenderPC_R3/r3.cpp
  src/Layers/xrRenderPC_R3/r3.h
  src/Layers/xrRenderPC_R3/r3_rendertarget.h
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_spot_geom.cpp
  src/Layers/xrRenderPC_R4/r4.cpp
  src/Layers/xrRenderPC_R4/r4.h
  src/Layers/xrRenderPC_R4/r4_rendertarget.h
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_spot_geom.cpp
Labels: Enhancement, Performance, Renderer

#516 xrRender: Recorder: fixed inter-pass `ctable` management
  src/Layers/xrRender/blenders/Blender_Recorder.cpp
Labels: Renderer

#521 Viewport setup abstraction
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidManager.cpp
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderDX9/dx9R_Backend_Runtime.h
  src/Layers/xrRenderGL/CommonTypes.h
  src/Layers/xrRenderGL/glR_Backend_Runtime.h
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_smap_D.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_smap_S.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_ssao.cpp
  src/Layers/xrRenderPC_GL/rgl.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/LightProjector.cpp
  src/Layers/xrRenderPC_R1/LightShadows.cpp
  src/Layers/xrRenderPC_R2/r2.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_phase_smap_S.cpp
  src/Layers/xrRenderPC_R3/r3.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_phase_smap_S.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_phase_ssao.cpp
  src/Layers/xrRenderPC_R4/r4.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_smap_D.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_smap_S.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_ssao.cpp
Labels: Portability, Renderer
