Repository OpenXRay/xray-16, pull requests merged in 2019-07, with the labels that each got.

#425 Fixed volumetric light of lamp.
  src/utils/xrMiscMath/matrix.cpp
  src/xrCore/_matrix.h
  src/xrEngine/device.cpp
Labels: Bug, Render

#427 Early realization of gamepad bind command
  src/xrEngine/xr_input_xinput.cpp
  src/xrEngine/xr_input_xinput.h
  src/xrGame/Actor.cpp
  src/xrGame/UIGameSP.cpp
  src/xrGame/ui/UIEditKeyBind.cpp
  src/xrGame/ui/UIEditKeyBind.h
  src/xrGame/ui/UIKeyBinding.cpp
  src/xrGame/ui/UIKeyBinding.h
  src/xrGame/xr_level_controller.cpp
Labels: Enhancement, Gameplay

#438 Add gamepad bind menu to UI
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  res/gamedata/scripts/ui_mm_opt_controls.script
  res/gamedata/scripts/ui_mm_opt_controls_gpad.script
  res/gamedata/scripts/ui_mm_opt_main.script
  src/xrGame/ui/UIEditKeyBind.cpp
  src/xrGame/ui/UIKeyBinding.cpp
Labels: Enhancement, Player Experience

#432 xrCore: move threading related code to a separate file
  src/utils/xrLCUtil/LevelCompilerLoggerWindow.cpp
  src/utils/xrLCUtil/xrThread.hpp
  src/utils/xrLC_Light/lcnet_task_manager.cpp
  src/utils/xrLC_Light/xrLight_Implicit.cpp
  src/xrCDB/xrCDB.cpp
  src/xrCore/LocatorAPI_auth.cpp
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/Threading/ThreadUtil.cpp
  src/xrCore/Threading/ThreadUtil.h
  src/xrCore/_math.cpp
  src/xrCore/_math.h
  src/xrCore/xrCore.h
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrEngine/Device_create.cpp
  src/xrEngine/main.cpp
  src/xrEngine/splash.cpp
  src/xrEngine/xr_object_list.cpp
  src/xrEngine/xr_object_list.h
  src/xrGame/Level_Bullet_Manager.cpp
  src/xrGame/configs_dumper.cpp
  src/xrGame/screenshot_manager.cpp
  src/xrGameSpy/GameSpy_Browser.cpp
  src/xrNetServer/NET_Client.cpp
  src/xrNetServer/NET_PlayersMonitor.h
  src/xrNetServer/NET_Server.cpp
Labels: Infrastructure

#437 xrCore: string_concatenations refactoring
  src/xrCore/string_concatenations.cpp
  src/xrCore/string_concatenations.h
  src/xrCore/string_concatenations_inline.h
  src/xrCore/xrCore.vcxproj.filters
Labels: Code Quality, Enhancement

#443 fix crash #424
  src/xrEngine/xr_input.cpp
Labels: Bug
