Repository OpenXRay/xray-16, pull requests merged in 2020-04, with the labels that each got.

#573 xrRender: added stream buffers abstraction
  src/Layers/xrRender/BufferUtils.h
  src/Layers/xrRender/R_DStreams.cpp
  src/Layers/xrRender/R_DStreams.h
  src/Layers/xrRenderDX10/CommonTypes.h
  src/Layers/xrRenderDX10/dx10BufferUtils.cpp
  src/Layers/xrRenderDX11/CommonTypes.h
  src/Layers/xrRenderDX9/BufferUtils.cpp
  src/Layers/xrRenderGL/glBufferUtils.cpp
Labels: Developer Experience, Portability, Renderer

#574 CMake: added option to select memory allocator
  CMakeLists.txt
  Externals/CMakeLists.txt
  src/xrCore/CMakeLists.txt
  src/xrCore/xrMemory.cpp
Labels: Developer Experience, Enhancement, Linux

#576 CMake: try to find package Intel TBB only if TBB_PARALLEL is ON
  CMakeLists.txt
Labels: Infrastructure

#578 E2K: added initial support of MCST Elbrus 2000 CPU architecture
  CMakeLists.txt
  src/Common/Platform.hpp
  src/Common/PlatformLinux.inl
  src/xrCore/LocatorAPI.h
  src/xrCore/_math.cpp
Labels: Portability

#584 xrRender: Rename "shaders_cache" to "shaders_cache_oxr" (to not mess with original game)
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Shaders.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R3/r3_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
Labels: Player Experience, Renderer

#580 xrEngine: allow to run without game module
  src/xrEngine/EngineAPI.cpp
  src/xrEngine/EngineAPI.h
  src/xrEngine/Stats.cpp
  src/xrEngine/main.cpp
  src/xrEngine/x_ray.cpp
Labels: Developer Experience

#586 xrEngine: Console: don't show tips in full-sized console window
  src/xrEngine/XR_IOConsole.cpp
Labels: Developer Experience, Enhancement

#587 xrRender: Font: don't change state if there is no text to render
  src/Layers/xrRender/dxFontRender.cpp
Labels: Performance, Renderer

#588 xrRender: RGL: redundant flip phase removed
  src/Layers/xrRender/R_Backend_Runtime.cpp
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.h
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_flip.cpp
Labels: Enhancement, Portability, Renderer
