Repository OpenXRay/xray-16, pull requests merged in 2020-12, with the labels that each got.

#691 Cleanup of bone animation code
  src/xrCore/Animation/Bone.cpp
  src/xrCore/Animation/Bone.hpp
  src/xrCore/Animation/BoneEditor.cpp
  src/xrCore/Animation/Motion.cpp
Labels: Code Quality

#693 Fixed broken map spots in PDA
  src/xrGame/ui/UIMap.cpp
  src/xrGame/ui/UIMap.h
Labels: Bug, Gameplay

#694 Use default virtual destructor for UI Maps
  src/xrGame/ui/UIMap.cpp
  src/xrGame/ui/UIMap.h
Labels: Code Quality

#698 xrCDB: added caching for OPCODE trees
  Externals/OPCODE/OPC_Model.cpp
  Externals/OPCODE/OPC_Model.h
  Externals/OPCODE/OPC_OptimizedTree.h
  src/Layers/xrRender/HOM.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/xrCDB/xrCDB.cpp
  src/xrCDB/xrCDB.h
  src/xrCDB/xr_area.cpp
Labels: Developer Experience, Enhancement, Performance, Player Experience

#699 g_spawn console command implementation with checks (closes #483)
  src/xrGame/console_commands.cpp
Labels: Enhancement, Modmaker Experience

#676 Some PVS-Studio warning fixes (part 4)
  Externals/cximage/ximath.cpp
  src/utils/mp_gpprof_server/libraries/fcgi-2.4.0/libfcgi/fcgi_stdio.c
  src/utils/mp_gpprof_server/libraries/gamespy/GP/gpiBuddy.c
  src/utils/mp_gpprof_server/libraries/gamespy/GP/gpiProfile.c
  src/utils/mp_gpprof_server/libraries/gamespy/common/gsDebug.c
  src/utils/mp_gpprof_server/libraries/gamespy/common/gsPlatformSocket.c
  src/utils/xrMiscMath/vector3d_ext.cpp
  src/xrAICore/Components/problem_solver_inline.h
  src/xrAICore/Navigation/level_graph.cpp
  src/xrAICore/Navigation/level_graph.h
  src/xrAICore/Navigation/level_graph_inline.h
  src/xrAICore/Navigation/vertex_allocator_fixed_inline.h
  src/xrCDB/ISpatial_verify.cpp
  src/xrCore/Crypto/trivial_encryptor.cpp
  src/xrCore/FTimer.h
  src/xrCore/Math/Random32.hpp
  src/xrCore/_vector3d_ext.h
  src/xrCore/fastdelegate.h
  src/xrD3D9-Null/IDirect3DIndexBuffer9.cpp
  src/xrEngine/device.h
  src/xrGame/PHScriptCall.cpp
  src/xrGame/Torch.cpp
  src/xrGame/character_reputation.cpp
  src/xrGame/relation_registry_fights.cpp
  src/xrGame/sound_player.cpp
  src/xrGame/ui/UIRankIndicator.cpp
  src/xrNetServer/NET_Client.cpp
  src/xrPhysics/Geometry.cpp
  src/xrUICore/Lines/UILine.cpp
  src/xrUICore/ListWnd/UIListItemEx.cpp
  src/xrUICore/Windows/UIFrameWindow.cpp
  src/xr_3da/AccessibilityShortcuts.hpp
Labels: Code Quality

#702 Add Docker configuration for developers.
  .gitignore
  docker/create.sh
  docker/docker-compose.yml
  docker/how-to.md
  docker/image/Dockerfile
  docker/image/install_deps.sh
  docker/login.sh
  docker/pics/cmake.png
  docker/pics/credentials.png
  docker/pics/toolchain.png
  docker/remove.sh
  docker/restart.sh
  docker/user.sh
Labels: Developer Experience

#695 Modernize clang-format configuration
  src/.clang-format
Labels: Conventions, Developer Experience, Documentation

#703 xrEngine: flush SDL events queue on console opening
  src/xrEngine/line_edit_control.cpp
Labels: Bug, Player Experience
