Repository OpenXRay/xray-16, pull requests merged in 2020-03, with the labels that each got.

#554 Linux: fix cximage build
  Externals/cximage/CMakeLists.txt
Labels: Bug

#519 Gamespy multimaster
  src/xrGame/GamePersistent.cpp
  src/xrGame/ui/ServerList.cpp
  src/xrGame/ui/ServerList.h
  src/xrGameSpy/GameSpy_Browser.cpp
  src/xrGameSpy/GameSpy_Browser.h
  src/xrGameSpy/GameSpy_BrowsersWrapper.cpp
  src/xrGameSpy/GameSpy_BrowsersWrapper.h
  src/xrGameSpy/GameSpy_Full.cpp
  src/xrGameSpy/GameSpy_Full.h
  src/xrGameSpy/GameSpy_QR2.cpp
  src/xrGameSpy/GameSpy_SAKE.cpp
  src/xrGameSpy/xrGameSpy.cpp
  src/xrGameSpy/xrGameSpy.h
  src/xrGameSpy/xrGameSpy.vcxproj
  src/xrGameSpy/xrGameSpy.vcxproj.filters
  src/xrGameSpy/xrGameSpy_MainDefs.h
  src/xrServerEntities/gametype_chooser.h
Labels: Call of Pripyat, Clear Sky, Enhancement, Multiplayer, Player Experience, Shadow of Chernobyl

#532 Porting engine to ARM64 architecture
  CMakeLists.txt
  Externals/luajit.cmake
  Externals/sse2neon/sse2neon.h
  src/Common/Platform.hpp
  src/Layers/CMakeLists.txt
  src/xrCDB/ISpatial_q_ray.cpp
  src/xrCDB/xrCDB_ray.cpp
  src/xrCommon/inlining_macros.h
  src/xrCore/CMakeLists.txt
  src/xrCore/Compression/ppmd_compressor.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/Math/MathUtil.cpp
  src/xrCore/_math.cpp
  src/xrCore/cpuid.cpp
  src/xrCore/xrCore.cpp
  src/xrCore/xrDebug.cpp
  src/xrParticles/noise.cpp
  src/xrParticles/particle_actions_collection.cpp
Labels: Portability

#562 xrCore: debug: Linux stack trace demangling
  src/xrCore/xrDebug.cpp
Labels: Developer Experience, Enhancement, Linux

#561 common: inlining_macros.h removed
  src/Common/Common.vcxproj
  src/Common/Common.vcxproj.filters
  src/Common/Compiler.inl
  src/Common/object_interfaces.h
  src/Layers/xrRender/VertexCache.h
  src/editors/xrWeatherEditor/pch.hpp
  src/xrAICore/Components/operator_condition.h
  src/xrCommon/inlining_macros.h
  src/xrCommon/math_funcs_inline.h
  src/xrCore/FixedVector.h
  src/xrCore/_quaternion.h
  src/xrCore/_random.h
  src/xrCore/_stl_extensions.h
  src/xrCore/_vector2.h
  src/xrCore/_vector3d.h
  src/xrCore/xrstring.h
  src/xrGame/seniority_hierarchy_space.h
Labels: Linux, Portability

#449 xr_sha1 refactoring
  src/utils/mp_configs_verifyer/configs_dump_verifyer.cpp
  src/utils/mp_configs_verifyer/configs_dump_verifyer.h
  src/utils/mp_screenshots_info/screenshots_reader.cpp
  src/utils/mp_screenshots_info/screenshots_writer.h
  src/xrCore/Crypto/xr_dsa.cpp
  src/xrCore/Crypto/xr_dsa.h
  src/xrCore/Crypto/xr_dsa_signer.cpp
  src/xrCore/Crypto/xr_dsa_signer.h
  src/xrCore/Crypto/xr_dsa_verifyer.cpp
  src/xrCore/Crypto/xr_dsa_verifyer.h
  src/xrCore/Crypto/xr_sha.cpp
  src/xrCore/Crypto/xr_sha.h
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrGame/configs_dump_verifyer.cpp
  src/xrGame/configs_dump_verifyer.h
  src/xrGame/gsc_dsigned_ltx.cpp
  src/xrGame/screenshots_writer.cpp
  src/xrGame/screenshots_writer.h
Labels: Code Quality, WIP (Don't merge)

#563 Add armv7l support
  CMakeLists.txt
  Externals/luajit.cmake
  src/Common/Platform.hpp
  src/Common/PlatformLinux.inl
  src/Layers/CMakeLists.txt
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/ParticleEffect.cpp
  src/xrCDB/ISpatial_q_ray.cpp
  src/xrCDB/xrCDB_ray.cpp
  src/xrCore/CMakeLists.txt
  src/xrCore/Compression/ppmd_compressor.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/Math/MathUtil.cpp
  src/xrCore/_math.cpp
  src/xrCore/xrCore.cpp
  src/xrCore/xrDebug.cpp
  src/xrParticles/noise.cpp
  src/xrParticles/particle_actions_collection.cpp
Labels: ARM, Portability
