Repository OpenXRay/xray-16, pull requests merged in 2020-07, with the labels that each got.

#645 Fix Debug/ReleaseWithDebugInfo build errors and fix segfault at game exit in linux
  src/xrAICore/Navigation/graph_engine.h
  src/xrGame/GamePersistent.cpp
Labels: Bug, Linux

#641 gamedata: Implemented OpenGL SSR reflections on water from LVutner
  res/gamedata/shaders/gl/effects_water.s
  res/gamedata/shaders/gl/iostructs/p_water.h
  res/gamedata/shaders/gl/iostructs/v_water.h
  res/gamedata/shaders/gl/ssr.h
  res/gamedata/shaders/gl/water.ps
  res/gamedata/shaders/gl/water.vs
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender/xrRender_console.h
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
Labels: Enhancement, Player Experience, Renderer

#638 R1/R2+ blenders separated
  src/Layers/xrRender/Blender_Recorder.cpp
  src/Layers/xrRender/blenders/Blender_Blur.cpp
  src/Layers/xrRender/blenders/Blender_Blur.h
  src/Layers/xrRender/blenders/Blender_BmmD.cpp
  src/Layers/xrRender/blenders/Blender_BmmD.h
  src/Layers/xrRender/blenders/Blender_BmmD_deferred.cpp
  src/Layers/xrRender/blenders/Blender_Lm(EbB).cpp
  src/Layers/xrRender/blenders/Blender_Lm(EbB).h
  src/Layers/xrRender/blenders/Blender_Model.cpp
  src/Layers/xrRender/blenders/Blender_Model.h
  src/Layers/xrRender/blenders/Blender_Model_EbB.cpp
  src/Layers/xrRender/blenders/Blender_Model_EbB.h
  src/Layers/xrRender/blenders/Blender_Model_EbB_deferred.cpp
  src/Layers/xrRender/blenders/Blender_Particle.cpp
  src/Layers/xrRender/blenders/Blender_Particle.h
  src/Layers/xrRender/blenders/Blender_Particle_deferred.cpp
  src/Layers/xrRender/blenders/Blender_detail_still.cpp
  src/Layers/xrRender/blenders/Blender_detail_still.h
  src/Layers/xrRender/blenders/Blender_detail_still_deferred.cpp
  src/Layers/xrRender/blenders/Blender_tree.cpp
  src/Layers/xrRender/blenders/Blender_tree.h
  src/Layers/xrRender/blenders/Blender_tree_deferred.cpp
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj.filters
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
Labels: Code Quality, Renderer

#652 fix appveyor build for linux x86
  appveyor.yml
Labels: Bug, Infrastructure
