Repository OpenXRay/xray-16, pull requests merged in 2020-05, with the labels that each got.

#583 Cmake improvements ( Linux ). Place all libraries in one output folder
  CMakeLists.txt
  cmake/utils.cmake
Labels: Developer Experience

#590 xrRender: implement simple occlusion culling for particles on OpenGL
  src/Layers/xrRender/ParticleEffect.cpp
Labels: Performance, Renderer

#593 Add xr_new
  src/xrCore/xrMemory.h
Labels: Core, Enhancement

#585 xrRender: It's now possible to not duplicate textures in RAM (all renders)
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/ResourceManager.cpp
  src/Layers/xrRender/ResourceManager.h
  src/Layers/xrRender/Texture.cpp
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender/xrRender_console.h
  src/Layers/xrRenderDX10/dx10Texture.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R2/r2.cpp
  src/Layers/xrRenderPC_R2/r2.h
  src/Layers/xrRenderPC_R3/r3.cpp
  src/Layers/xrRenderPC_R3/r3.h
  src/Layers/xrRenderPC_R4/r4.cpp
  src/Layers/xrRenderPC_R4/r4.h
  src/xrEngine/Render.h
Labels: Enhancement, Modmaker Experience, Player Experience, Renderer

#595 xrCore: Replacing new with xr_new
  src/xrCore/Animation/Envelope.cpp
  src/xrCore/Animation/Motion.cpp
  src/xrCore/Animation/SkeletonMotions.cpp
  src/xrCore/Crypto/xr_dsa.cpp
  src/xrCore/Events/Notifier.h
  src/xrCore/FS.cpp
  src/xrCore/FS_impl.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI_auth.cpp
  src/xrCore/PostProcess/PostProcess.cpp
  src/xrCore/Threading/Lock.cpp
  src/xrCore/Threading/ThreadUtil.cpp
  src/xrCore/XML/tinyxmlparser.cpp
  src/xrCore/stream_reader.cpp
  src/xrCore/xrDelegate/xrDelegateBinder.h
  src/xrCore/xrMemory.cpp
  src/xrCore/xr_ini.cpp
  src/xrCore/xr_shared.h
  src/xrCore/xrsharedmem.cpp
  src/xrCore/xrstring.cpp
Labels: Enhancement

#597 xrEngine: Replacing new with xr_new
  src/xrEngine/Device_create.cpp
  src/xrEngine/Environment.cpp
  src/xrEngine/Environment_misc.cpp
  src/xrEngine/EventAPI.cpp
  src/xrEngine/FDemoPlay.cpp
  src/xrEngine/GameMtlLib.cpp
  src/xrEngine/IGame_Level.cpp
  src/xrEngine/IGame_Persistent.cpp
  src/xrEngine/LightAnimLibrary.cpp
  src/xrEngine/ObjectAnimator.cpp
  src/xrEngine/Stats.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/line_edit_control.cpp
  src/xrEngine/main.cpp
  src/xrEngine/thunderbolt.cpp
  src/xrEngine/tntQAVI.cpp
  src/xrEngine/x_ray.cpp
  src/xrEngine/xrSASH.cpp
  src/xrEngine/xrTheora_Surface.cpp
Labels: Enhancement

#596 xrRender: Actor shadow reworked
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender/xrRender_console.h
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R3/r3_R_sun.cpp
  src/Layers/xrRenderPC_R4/r4_R_sun.cpp
Labels: Enhancement, Player Experience, Renderer

#598 (xrGameSpy, xrNetServer, xrParticles): Replacing new with xr_new
  src/xrGameSpy/GameSpy_Browser.cpp
  src/xrGameSpy/GameSpy_Full.cpp
  src/xrNetServer/NET_Client.cpp
  src/xrNetServer/NET_Common.cpp
  src/xrNetServer/NET_Compressor.cpp
  src/xrNetServer/NET_Log.cpp
  src/xrNetServer/NET_Log.h
  src/xrNetServer/NET_Server.cpp
  src/xrNetServer/empty/NET_Client.cpp
  src/xrNetServer/empty/NET_Server.cpp
  src/xrNetServer/ip_filter.cpp
  src/xrParticles/particle_manager.cpp
Labels: Enhancement

#599 xrPhysics: Replacing new with xr_new
  src/xrPhysics/ActorCameraCollision.cpp
  src/xrPhysics/ExtendedGeom.h
  src/xrPhysics/PHActorCharacter.cpp
  src/xrPhysics/PHCapture.cpp
  src/xrPhysics/PHCharacter.cpp
  src/xrPhysics/PHElement.cpp
  src/xrPhysics/PHFracture.cpp
  src/xrPhysics/PHGeometryOwner.cpp
  src/xrPhysics/PHJoint.cpp
  src/xrPhysics/PHShell.cpp
  src/xrPhysics/PHShellSplitter.cpp
  src/xrPhysics/PHStaticGeomShell.cpp
  src/xrPhysics/PHWorld.cpp
  src/xrPhysics/PhysicsShell.cpp
  src/xrPhysics/iphysics_scripted.h
  src/xrPhysics/tri-colliderknoopc/dTriList.cpp
Labels: Enhancement

#600 xrRenger_GL: Replacing new with xr_new
  src/Layers/xrRenderPC_GL/glResourceManager_Resources.cpp
  src/Layers/xrRenderPC_GL/glResourceManager_Scripting.cpp
  src/Layers/xrRenderPC_GL/gl_loader.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.cpp
  src/Layers/xrRenderPC_GL/glr_constants.cpp
  src/Layers/xrRenderPC_GL/r2_blenders.cpp
  src/Layers/xrRenderPC_GL/rgl.cpp
Labels: Enhancement

#601 xrRender_R1: Replacing new with xr_new
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Blenders.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R1/GlowManager.cpp
  src/Layers/xrRenderPC_R1/LightShadows.cpp
Labels: Enhancement

#602 xrRenderPC_R2: Replacing new with xr_new
  src/Layers/xrRenderPC_R2/r2.cpp
  src/Layers/xrRenderPC_R2/r2_blenders.cpp
  src/Layers/xrRenderPC_R2/r2_loader.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget.cpp
Labels: Enhancement

#603 xrRenderPC_R3: Replacing new with xr_new
  src/Layers/xrRenderPC_R3/r2_blenders.cpp
  src/Layers/xrRenderPC_R3/r3.cpp
  src/Layers/xrRenderPC_R3/r3_loader.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget.cpp
Labels: Enhancement

#605 xrUICore: Replacing new with xr_new
  src/xrUICore/Buttons/UI3tButton.cpp
  src/xrUICore/Buttons/UIBtnHint.cpp
  src/xrUICore/Callbacks/UIWndCallback.cpp
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/EditBox/UICustomEdit.cpp
  src/xrUICore/EditBox/UIEditBox.cpp
  src/xrUICore/EditBox/UIEditBoxEx.cpp
  src/xrUICore/FontManager/FontManager.cpp
  src/xrUICore/Hint/UIHint.cpp
  src/xrUICore/InteractiveBackground/UIInteractiveBackground.h
  src/xrUICore/Lines/UILine.cpp
  src/xrUICore/Lines/UILines.cpp
  src/xrUICore/Lines/UISubLine.cpp
  src/xrUICore/ListBox/UIListBox.cpp
  src/xrUICore/ListBox/UIListBoxItem.cpp
  src/xrUICore/ListWnd/UIListWnd.cpp
  src/xrUICore/ListWnd/UIListWnd_inline.h
  src/xrUICore/MessageBox/UIMessageBox.cpp
  src/xrUICore/ScrollBar/UIFixedScrollBar.cpp
  src/xrUICore/ScrollBar/UIScrollBar.cpp
  src/xrUICore/ScrollView/UIScrollView.cpp
  src/xrUICore/ScrollView/UIScrollView.h
  src/xrUICore/SpinBox/UICustomSpin.cpp
  src/xrUICore/Static/UIStatic.cpp
  src/xrUICore/TabControl/UITabControl.cpp
  src/xrUICore/TrackBar/UITrackBar.cpp
  src/xrUICore/XML/UIXmlInitBase.cpp
  src/xrUICore/ui_base.cpp
Labels: Enhancement

#607 xrCDB, xrAICore: Replacing new with xr_new
  src/xrAICore/AISpaceBase.cpp
  src/xrAICore/Navigation/PatrolPath/patrol_path_storage.cpp
  src/xrAICore/Navigation/dijkstra_inline.h
  src/xrAICore/Navigation/game_graph_inline.h
  src/xrAICore/Navigation/graph_abstract_inline.h
  src/xrAICore/Navigation/graph_engine_inline.h
  src/xrAICore/Navigation/level_graph.cpp
  src/xrCDB/xrCDB.cpp
  src/xrCDB/xr_area.cpp
Labels: Enhancement

#612 (xrQSlim, xrSE_Factory): Replacing new with xr_new
  src/utils/xrQSlim/src/MxBlockModel.cpp
  src/utils/xrQSlim/src/MxPropSlim.cpp
  src/utils/xrQSlim/src/MxQSlim.cpp
  src/utils/xrQSlim/src/MxStdModel.cpp
  src/utils/xrSE_Factory/ai_space.cpp
  src/utils/xrSE_Factory/properties_list_helper_script.cpp
  src/utils/xrSE_Factory/script_properties_list_helper.cpp
  src/utils/xrSE_Factory/xrSE_Factory.cpp
Labels: Enhancement

#610 (mp_configs_verifyer, mp_screenshots_info, xrAI): Replacing new with xr_new
  src/utils/mp_configs_verifyer/entry_point.cpp
  src/utils/mp_screenshots_info/screenshots_reader.cpp
  src/utils/xrAI/ESceneAIMapTools.cpp
  src/utils/xrAI/compiler_cover.cpp
  src/utils/xrAI/compiler_load.cpp
  src/utils/xrAI/game_graph_builder.cpp
  src/utils/xrAI/game_spawn_constructor.cpp
  src/utils/xrAI/level_spawn_constructor.cpp
  src/utils/xrAI/xr_graph_merge.cpp
Labels: Enhancement

#609 (xrCompress, xrLC): Replacing new with xr_new
  src/utils/xrCompress/xrCompress.cpp
  src/utils/xrCompress/xrCompressDifference.cpp
  src/utils/xrLC/Build_Load.cpp
  src/utils/xrLC/Sector.cpp
  src/utils/xrLC/nv_library/NvTriStripObjects.cpp
  src/utils/xrLC/xrBuildCForm.cpp
  src/utils/xrLC/xrFlex2OGF.cpp
  src/utils/xrLC/xrLC.cpp
  src/utils/xrLC/xrLight.cpp
  src/utils/xrLC/xrMU_Model_Calc_ogf.cpp
  src/utils/xrLC/xrMU_Model_export_OGF.cpp
  src/utils/xrLC/xrOptimizeCFORM_qslim.cpp
  src/utils/xrLC/xrPhase_AdaptiveHT.cpp
  src/utils/xrLC/xrPhase_GI.cpp
  src/utils/xrLC/xrPhase_MergeLM.cpp
  src/utils/xrLC/xrPhase_ResolveMaterials.cpp
  src/utils/xrLC/xrPhase_Subdivide.cpp
  src/utils/xrLC/xrPhase_UVmap.cpp
  src/utils/xrLC/xrPreOptimize.cpp
  src/utils/xrLC/xrSectors.cpp
  src/utils/xrLC/xrT_Junction.cpp
Labels: Enhancement

#611 xrLC_Light: Replacing new with xr_new
  src/utils/xrLC_Light/Lightmap.cpp
  src/utils/xrLC_Light/compiler.cpp
  src/utils/xrLC_Light/global_calculation_data.cpp
  src/utils/xrLC_Light/global_slots_data.cpp
  src/utils/xrLC_Light/lcnet_task_manager.cpp
  src/utils/xrLC_Light/mu_model_light_threads.cpp
  src/utils/xrLC_Light/net_cl_data_prepare.cpp
  src/utils/xrLC_Light/net_execution_factory_register.cpp
  src/utils/xrLC_Light/net_execution_globals.cpp
  src/utils/xrLC_Light/net_global_data.cpp
  src/utils/xrLC_Light/net_stream.cpp
  src/utils/xrLC_Light/net_task_manager.cpp
  src/utils/xrLC_Light/recalculation.cpp
  src/utils/xrLC_Light/xrDeflector.cpp
  src/utils/xrLC_Light/xrLC_GlobalData.cpp
  src/utils/xrLC_Light/xrLightVertex.cpp
  src/utils/xrLC_Light/xrLight_ImplicitCalcGlobs.cpp
  src/utils/xrLC_Light/xrLight_ImplicitThread.cpp
  src/utils/xrLC_Light/xrMU_Model.cpp
  src/utils/xrLC_Light/xrMU_Model_Calc_lighting.cpp
  src/utils/xrLC_Light/xrMU_Model_Reference.cpp
  src/utils/xrLC_Light/xrMU_Model_Reference.h
Labels: Enhancement

#613 (xrManagedApi, xrWeatherEngine): Replacing new with xr_new
  src/editors/xrManagedApi/core/PostProcessAnimator.cpp
  src/editors/xrWeatherEngine/editor_environment_ambients_ambient.cpp
  src/editors/xrWeatherEngine/editor_environment_ambients_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_effects_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_sound_channels_channel.cpp
  src/editors/xrWeatherEngine/editor_environment_sound_channels_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_suns_flares.cpp
  src/editors/xrWeatherEngine/editor_environment_suns_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_thunderbolts_collection.cpp
  src/editors/xrWeatherEngine/editor_environment_thunderbolts_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_thunderbolts_thunderbolt.cpp
  src/editors/xrWeatherEngine/editor_environment_weathers_manager.cpp
  src/editors/xrWeatherEngine/editor_environment_weathers_weather.cpp
  src/editors/xrWeatherEngine/engine_impl.cpp
Labels: Enhancement

#614 xrWeatherEditor: Replacing new with xr_new
  src/editors/xrWeatherEditor/entry_point.cpp
  src/editors/xrWeatherEditor/ide_impl.cpp
  src/editors/xrWeatherEditor/property_boolean.cpp
  src/editors/xrWeatherEditor/property_boolean_reference.cpp
  src/editors/xrWeatherEditor/property_collection_getter.cpp
  src/editors/xrWeatherEditor/property_color.cpp
  src/editors/xrWeatherEditor/property_color_reference.cpp
  src/editors/xrWeatherEditor/property_float.cpp
  src/editors/xrWeatherEditor/property_float_reference.cpp
  src/editors/xrWeatherEditor/property_integer.cpp
  src/editors/xrWeatherEditor/property_integer_reference.cpp
  src/editors/xrWeatherEditor/property_integer_values_value_getter.cpp
  src/editors/xrWeatherEditor/property_integer_values_value_reference_getter.cpp
  src/editors/xrWeatherEditor/property_string.cpp
  src/editors/xrWeatherEditor/property_string_values_value_getter.cpp
  src/editors/xrWeatherEditor/property_string_values_value_shared_str_getter.cpp
  src/editors/xrWeatherEditor/property_vec3f.cpp
  src/editors/xrWeatherEditor/property_vec3f_reference.cpp
  src/editors/xrWeatherEditor/window_weather_editor.cpp
Labels: Enhancement

#501 Linux: Modified Trilogy Trigger Launcher
  res/CMakeLists.txt
  res/icons/16x16/openxray_cop.png
  res/icons/16x16/openxray_cs.png
  res/icons/16x16/openxray_soc.png
  res/icons/32x32/openxray_cop.png
  res/icons/32x32/openxray_cs.png
  res/icons/32x32/openxray_soc.png
  res/icons/48x48/openxray_cop.png
  res/icons/48x48/openxray_cs.png
  res/icons/48x48/openxray_soc.png
  res/icons/64x64/openxray_cop.png
  res/icons/64x64/openxray_cs.png
  res/icons/64x64/openxray_soc.png
  res/openxray_cop.desktop
  res/openxray_cs.desktop
  res/openxray_soc.desktop
  src/xrCore/LocatorAPI.cpp
  src/xrCore/xrCore.cpp
Labels: Call of Pripyat, Clear Sky, Shadow of Chernobyl

#616 xrServerEntities: Replacing new with xr_new
  src/xrServerEntities/alife_human_brain.cpp
  src/xrServerEntities/alife_monster_brain.cpp
  src/xrServerEntities/object_factory_impl.h
  src/xrServerEntities/object_factory_inline.h
  src/xrServerEntities/object_factory_register.cpp
  src/xrServerEntities/object_factory_script.cpp
  src/xrServerEntities/object_item_client_server_inline.h
  src/xrServerEntities/object_item_single_inline.h
  src/xrServerEntities/script_ini_file_script.cpp
  src/xrServerEntities/shared_data.h
  src/xrServerEntities/smart_cast_stats.cpp
  src/xrServerEntities/xml_str_id_loader.h
  src/xrServerEntities/xrServer_Object_Base.cpp
  src/xrServerEntities/xrServer_Objects_ALife.cpp
  src/xrServerEntities/xrServer_Objects_ALife_Monsters.cpp
  src/xrServerEntities/xrServer_Objects_Alife_Smartcovers.cpp
Labels: Enhancement

#617 xrSound: Replacing new with xr_new
  src/xrSound/Sound.cpp
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_CoreA.cpp
  src/xrSound/SoundRender_Core_Processor.cpp
  src/xrSound/SoundRender_Core_SourceManager.cpp
  src/xrSound/SoundRender_Environment.cpp
Labels: Enhancement

#618 (xrRenderGL, xrRenderDX9, xrRenderDX10): Replacing new with xr_new
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidManager.cpp
  src/Layers/xrRenderDX10/StateManager/dx10State.cpp
  src/Layers/xrRenderDX10/dx10ResourceManager_Resources.cpp
  src/Layers/xrRenderDX10/dx10ResourceManager_Scripting.cpp
  src/Layers/xrRenderDX10/dx10SH_Texture.cpp
  src/Layers/xrRenderDX10/dx10r_constants.cpp
  src/Layers/xrRenderDX9/dx9ResourceManager_Resources.cpp
  src/Layers/xrRenderGL/glSH_Texture.cpp
  src/Layers/xrRenderGL/glState.cpp
Labels: Enhancement

#620 CMake: CPack: improve typography in the package description
  CMakeLists.txt
Labels: Enhancement

#624 Integration of .editorconfig
  .editorconfig
  .gitignore
Labels: Code Quality, Conventions, Developer Experience

#625 Linux. CPack improvements.
  .gitignore
  CMakeLists.txt
  cmake/packaging.cmake
  cmake/utils.cmake
Labels: Enhancement, Linux, Portability

#630 xrCore: Debug: correct path to fsltx in error message
  src/xrCore/LocatorAPI.cpp
  src/xrCore/xrDebug.cpp
Labels: Developer Experience, Enhancement, Modmaker Experience, Player Experience
