Repository OpenXRay/xray-16, pull requests merged in 2020-11, with the labels that each got.

#680 HUD: added switch for left handed HUD
  src/Layers/xrRender/R_Backend_Runtime.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/xrEngine/CustomHUD.h
  src/xrGame/console_commands.cpp
  src/xrGame/player_hud.cpp
Labels: Enhancement, Gameplay

#681 xrRender: GL: shaders compilation fix for integrated Intel cards
  res/gamedata/shaders/gl/common_functions.h
  res/gamedata/shaders/gl/deffer_impl_flat.ps
Labels: Bug, Portability, Renderer

#683 Replacing the deprecated sys_errlist with strerror (fixes #679, closes #682)
  src/Common/PlatformLinux.inl
  src/Common/PlatformWindows.inl
  src/xrCore/FS_internal.h
  src/xrCore/LocatorAPI.cpp
Labels: Build issue, Linux, Portability

#674 Getting rid of CONST, FLOAT, VOID, WCHAR and LPCWSTR types (#23)
  src/Common/NvMender2003/NVMeshMender.cpp
  src/Layers/xrRender/r__screenshot.cpp
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidEmitters.cpp
  src/Layers/xrRenderDX10/StateManager/dx10StateManager.cpp
  src/utils/xrDXT/Image_DXTC.cpp
Labels: Portability

#671 Getting rid of INT, WORD, LONG types (#23)
  src/Layers/xrRender/D3DUtils.cpp
  src/Layers/xrRender/du_box.cpp
  src/Layers/xrRender/du_box.h
  src/Layers/xrRender/du_cone.cpp
  src/Layers/xrRender/du_cone.h
  src/Layers/xrRender/du_sphere.cpp
  src/Layers/xrRender/du_sphere.h
  src/utils/ETools/object_sliding.cpp
  src/utils/ctool/PPMTrain.cpp
  src/utils/xrAI/compiler.h
  src/utils/xrDXT/Image_DXTC.cpp
  src/utils/xrLC/OGF_Face_Save.cpp
  src/utils/xrLC/xrMU_Model_export_geometry.cpp
  src/xrCore/Compression/Model.cpp
  src/xrGame/MPPlayersBag.cpp
  src/xrGame/game_sv_artefacthunt.cpp
  src/xrGame/game_sv_deathmatch.cpp
  src/xrGame/game_sv_teamdeathmatch.cpp
  src/xrGame/xrServer.cpp
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_CoreA.cpp
Labels: Portability
