Repository OpenXRay/xray-16, pull requests merged in 2020-01, with the labels that each got.

#537 xrRender: GL: VTF functionality restored
  src/Layers/xrRender/dxEnvironmentRender.cpp
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderGL/glHW.h
  src/Layers/xrRenderGL/glHWCaps.cpp
  src/Layers/xrRenderPC_GL/glTexture.cpp
  src/Layers/xrRenderPC_GL/glr_constants.cpp
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
Labels: Bug, Renderer

#539 Merge pull request #539 from q4a/appveyor_linux
  appveyor.yml
Labels: Developer Experience, Linux, Portability

#540 Use single matrix for x86 and x64 Ubuntu
  appveyor.yml
Labels: Linux, Portability
