Repository OpenXRay/xray-16, pull requests merged in 2020-10, with the labels that each got.

#669 Getting rid of BYTE type (#669 addressed to #23)
  src/Layers/xrRender/Blender_Recorder_R2.cpp
  src/Layers/xrRender/FSkinned.cpp
  src/Layers/xrRender/FVisual.cpp
  src/Layers/xrRender/SH_Texture.cpp
  src/Layers/xrRender/Texture.cpp
  src/Layers/xrRender/r_constants.cpp
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidRenderer.cpp
  src/Layers/xrRenderDX10/dx10ConstantBuffer_impl.h
  src/Layers/xrRenderDX10/dx10SH_Texture.cpp
  src/Layers/xrRenderGL/glSH_Texture.cpp
  src/Layers/xrRenderPC_GL/gl_loader.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_spot_geom.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R2/r2_loader.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_accum_spot_geom.cpp
  src/Layers/xrRenderPC_R3/r3_loader.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_R3/r3_rendertarget_accum_spot_geom.cpp
  src/Layers/xrRenderPC_R4/r4_loader.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_spot_geom.cpp
  src/utils/ctool/PPMT_SA.hpp
  src/utils/ctool/PPMTrain.cpp
  src/utils/xrAI/compiler.h
  src/utils/xrAI/compiler_load.cpp
  src/utils/xrAI/compiler_save.cpp
  src/utils/xrDXT/Image_DXTC.cpp
  src/utils/xrDXT/Image_DXTC.h
  src/utils/xrDXT/NVI_Image.cpp
  src/utils/xrDXT/NVI_Image.h
  src/utils/xrLC/Build_Load.cpp
  src/utils/xrLC/vbm.h
  src/utils/xrLC/xrPhase_MergeLM_Surface.cpp
  src/utils/xrLC_Light/Lightmap.cpp
  src/utils/xrLC_Light/xrLight_Implicit.cpp
  src/xrAICore/Navigation/game_graph_inline.h
  src/xrCore/Compression/Model.cpp
  src/xrCore/Compression/SubAlloc.hpp
  src/xrCore/FS.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrCore/net_utils.h
  src/xrCore/xrDebug.cpp
  src/xrGame/Torch.cpp
  src/xrGame/ui/UIServerInfo.cpp
  src/xrNetServer/NET_Client.cpp
  src/xrNetServer/NET_Compressor.cpp
  src/xrNetServer/NET_Compressor.h
  src/xrNetServer/NET_Server.cpp
  src/xrServerEntities/xrServer_Objects_ALife_Items.cpp
  src/xrSound/SoundRender_Emitter_streamer.cpp
  src/xrSound/xr_streamsnd.cpp
  src/xrSound/xr_streamsnd.h
Labels: Portability

#670 Getting rid of UINT, UINT8, UINT32, ULONG types (#23)
  src/Layers/xrRender/BufferUtils.h
  src/Layers/xrRender/NvTriStripObjects.h
  src/Layers/xrRender/QueryHelper.h
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/tss_def.cpp
  src/Layers/xrRenderDX10/StateManager/dx10State.cpp
  src/Layers/xrRenderDX10/StateManager/dx10State.h
  src/Layers/xrRenderDX10/StateManager/dx10StateManager.cpp
  src/Layers/xrRenderDX10/StateManager/dx10StateManager.h
  src/Layers/xrRenderDX10/dx10BufferUtils.cpp
  src/Layers/xrRenderDX10/dx10HW.cpp
  src/Layers/xrRenderDX10/dx10HW.h
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderDX10/dx10SH_RT.cpp
  src/Layers/xrRenderDX10/dx10SH_Texture.cpp
  src/Layers/xrRenderDX9/dx9HW.h
  src/Layers/xrRenderGL/glBufferUtils.cpp
  src/Layers/xrRenderGL/glState.cpp
  src/Layers/xrRenderGL/glState.h
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R2/r2_R_sun.cpp
  src/Layers/xrRenderPC_R3/r3_R_sun.cpp
  src/Layers/xrRenderPC_R4/ComputeShader.cpp
  src/Layers/xrRenderPC_R4/r4_R_sun.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_hdao.cpp
  src/utils/ctool/PPMT_SA.hpp
  src/utils/ctool/PPMTrain.cpp
  src/utils/xrDXT/NVI_Image.cpp
  src/utils/xrDXT/NVI_Image.h
  src/utils/xrLC/nv_library/NvTriStripObjects.h
  src/xrCore/Compression/Coder.hpp
  src/xrCore/Compression/Model.cpp
  src/xrCore/Compression/PPMd.h
  src/xrCore/Compression/SubAlloc.hpp
  src/xrCore/_math.cpp
  src/xrPhysics/PHWorld.cpp
  src/xrPhysics/tri-colliderknoopc/dSortTriPrimitive.h
  src/xrSound/xr_cda.h
Labels: Portability

#668 PVS-Studio warning fixes in non-module Externals/* (part 3)
  Externals/NVTT/src/nvcore/Containers.h
  Externals/NVTT/src/nvimage/DirectDrawSurface.cpp
  Externals/NVTT/src/nvtt/OutputOptions.cpp
  Externals/NVTT/src/nvtt/squish/fastclusterfit.cpp
  Externals/OPCODE/OPC_FPU.h
  Externals/ode/ode/src/collision_std.cpp
  Externals/openal/OpenAL-Windows/Router/alc.cpp
Labels: Code Quality

#675 xrRenderPC_GL: use staging buffer abstraction
  src/Layers/xrRenderPC_GL/gl_rendertarget.h
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_omnipart_geom.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_point_geom.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_spot_geom.cpp
Labels: Portability, Renderer
