Repository OpenXRay/xray-16, pull requests merged in 2020-06, with the labels that each got.

#629 xrRender: blenders code unification
  src/Layers/xrRender/Blender.cpp
  src/Layers/xrRender/Blender.h
  src/Layers/xrRender/Blender_Palette.cpp
  src/Layers/xrRender/Blender_Recorder.cpp
  src/Layers/xrRender/Blender_Recorder.h
  src/Layers/xrRender/HWCaps.h
  src/Layers/xrRender/blenders/BlenderDefault.cpp
  src/Layers/xrRender/blenders/BlenderDefault.h
  src/Layers/xrRender/blenders/Blender_Blur.cpp
  src/Layers/xrRender/blenders/Blender_Blur.h
  src/Layers/xrRender/blenders/Blender_Editor_Selection.cpp
  src/Layers/xrRender/blenders/Blender_Editor_Selection.h
  src/Layers/xrRender/blenders/Blender_Editor_Wire.cpp
  src/Layers/xrRender/blenders/Blender_Editor_Wire.h
  src/Layers/xrRender/blenders/Blender_LaEmB.cpp
  src/Layers/xrRender/blenders/Blender_LaEmB.h
  src/Layers/xrRender/blenders/Blender_Screen_GRAY.cpp
  src/Layers/xrRender/blenders/Blender_Screen_GRAY.h
  src/Layers/xrRender/blenders/Blender_Screen_SET.cpp
  src/Layers/xrRender/blenders/Blender_Screen_SET.h
  src/Layers/xrRender/blenders/Blender_Shadow_World.cpp
  src/Layers/xrRender/blenders/Blender_Shadow_World.h
  src/Layers/xrRender/blenders/Blender_Vertex.cpp
  src/Layers/xrRender/blenders/Blender_Vertex.h
  src/Layers/xrRender/blenders/Blender_Vertex_aref.cpp
  src/Layers/xrRender/blenders/Blender_Vertex_aref.h
  src/Layers/xrRender/blenders/Blender_default_aref.cpp
  src/Layers/xrRender/blenders/Blender_default_aref.h
  src/Layers/xrRenderDX9/dx9HWCaps.cpp
  src/Layers/xrRenderGL/glHWCaps.cpp
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj.filters
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj
  src/Layers/xrRenderPC_R3/xrRender_R3.vcxproj.filters
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
Labels: Enhancement, Portability, Renderer

#631 xrGame: Fixed linux resource loading
  src/xrGame/GamePersistent.cpp
Labels: Bug

#637 xrRender: Blenders: clear projection TTF by default
  src/Layers/xrRender/Blender_Recorder.cpp
Labels: Bug, Renderer

#640 Fixed incorrect CRC32 calculations for shader cache (thx @Giperion), add extra logging
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Shaders.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R3/r3_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
  src/xrCore/FileCRC32.cpp
  src/xrCore/FileCRC32.h
Labels: Bug, Enhancement, Renderer
