Repository OpenXRay/xray-16, pull requests merged in 2021-07, with the labels that each got.

#837 Fixed #734
  src/xrGame/Inventory.cpp
Labels: Bug, Multiplayer

#797 Fixes partial "Getting rid of Microsoft specific types" #23
  src/xrCDB/Frustum.cpp
  src/xrCDB/Frustum.h
  src/xrCDB/ISpatial.cpp
  src/xrCDB/ISpatial.h
  src/xrCDB/ISpatial_q_ray.cpp
  src/xrCDB/ISpatial_verify.cpp
  src/xrCDB/Intersect.hpp
  src/xrCDB/xrCDB_Collector.cpp
  src/xrCDB/xrCDB_ray.cpp
  src/xrCDB/xr_area.h
  src/xrCDB/xr_area_raypick.cpp
  src/xrCDB/xr_collide_defs.h
Labels: Portability

#791 xrCDB/Frustum.cpp: reduced testSphere_dirty function code size
  src/xrCDB/Frustum.cpp
Labels: Enhancement, Performance

#850 Cmake-fix for full compilation. Help for Xottab and r-a-sattarov
  src/xrGame/CMakeLists.txt
  src/xrGame/game_base.h
  src/xrGame/game_base_script.cpp
  src/xrGame/game_sv_deathmatch_script.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
Labels: Build issue, Linux

#767 Fix thread names not being set in Linux
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/Threading/ThreadUtil.cpp
  src/xrCore/Threading/ThreadUtil.h
  src/xrCore/xrCore.cpp
Labels: Bug, Developer Experience, Linux

#821 Allow read a file paths with upper case symbols
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI_defs.cpp
  src/xrCore/xr_ini.cpp
Labels: Enhancement, Linux, Portability

#798 Try to fix resource linking
  src/xrCore/CMakeLists.txt
  src/xrCore/xrCore.cpp
Labels: Bug, Portability
