Repository OpenXRay/xray-16, pull requests merged in 2021-06, with the labels that each got.

#814 Fix luajit compile flags
  Externals/LuaJIT-proj/HostBuildTools/buildvm/CMakeLists.txt
  Externals/LuaJIT-proj/HostBuildTools/minilua/CMakeLists.txt
  Externals/LuaJIT-proj/luajit.cmake
Labels: Build issue, Linux

#813 fix: check luabind submodule existing
  CMakeLists.txt
Labels: Build issue

#824 Optimize explosions
  src/xrGame/Explosive.cpp
Labels: Enhancement
