Repository OpenXRay/xray-16, pull requests merged in 2021-05, with the labels that each got.

#781 Fixed OOM at startup on E2K and ARM
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/xrDebug.cpp
  src/xrCore/xr_cpuid.cpp
Labels: Bug, Portability

#762 setting time for archive files
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
Labels: Bug, Enhancement

#787 Fix wrong arguments passed into format function
  src/xrGame/ui/UIInventoryUtilities.cpp
  src/xrGame/ui/UIRankingWnd.cpp
Labels: Code Quality

#789 Make luajit cross-compileable
  Externals/LuaJIT-proj/HostBuildTools/buildvm/CMakeLists.txt
  Externals/LuaJIT-proj/HostBuildTools/minilua/CMakeLists.txt
  Externals/LuaJIT-proj/luajit.cmake
Labels: Enhancement, External (3rd party), Infrastructure

#792 Tiny improvements for e2k (MCST Elbrus 2000)
  src/xrCore/xr_cpuid.cpp
  src/xrGame/CMakeLists.txt
Labels: Enhancement

#790 Fix CMAKE_INSTALL_PREFIX issue
  CMakeLists.txt
Labels: Bug, Build issue

#807 Add MASTER_GOLD option into CMake build
  CMakeLists.txt
Labels: Linux

#726 Various tiny fixes
  src/Layers/xrRender/r__sector.cpp
  src/Layers/xrRender/r__sector.h
  src/Layers/xrRender/r__sector_detect.cpp
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/FStaticRender_DetectSector.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj.filters
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
  src/Layers/xrRender_R2/r2_loader.cpp
  src/xrCore/FixedVector.h
  src/xrCore/_bitwise.h
Labels: Enhancement
