Repository OpenXRay/xray-16, pull requests merged in 2021-01, with the labels that each got.

#706 Fixed RPM package missing info about provided dependencies (closes #650)
  cmake/packaging.cmake
Labels: Linux, Portability

#708 Travis CI: update to Ubuntu Focal Fossa, removed x86 builds
  .travis.yml
Labels: Linux

#705 Added graph for FPS history (use `rs_fps_graph` to enable)
  src/Layers/xrRender/FVF.h
  src/Layers/xrRender/dxStatGraphRender.cpp
  src/Layers/xrRender/dxStatGraphRender.h
  src/xrEngine/StatGraph.cpp
  src/xrEngine/StatGraph.h
  src/xrEngine/Stats.cpp
  src/xrEngine/Stats.h
  src/xrEngine/defines.h
  src/xrEngine/xr_ioc_cmd.cpp
Labels: Developer Experience, Enhancement, Renderer

#720 CMake: Fix typo in FindReadline.cmake (fixes #719)
  Externals/cmake/FindReadline.cmake
Labels: Build issue, Linux, Portability
