Repository OpenXRay/xray-16, pull requests merged in 2021-03, with the labels that each got.

#735 travis: use core_count=2 for arm64
  .travis.yml
Labels: ARM, Build issue, Linux

#727 implement CDB cache versioning via timestamp (closes #714)
  src/Layers/xrRender/HOM.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/xrCDB/xrCDB.cpp
  src/xrCDB/xrCDB.h
  src/xrCDB/xr_area.cpp
  src/xrCore/FS.h
  src/xrCore/LocatorAPI.cpp
Labels: Core, Enhancement, Modmaker Experience

#740 E2K: improved cmake configuration
  CMakeLists.txt
  src/utils/CMakeLists.txt
Labels: Enhancement, Portability

#741 Enable GC64 mode in LuaJIT on Linux
  Externals/luajit.cmake
Labels: Lua, x64

#737 Refactor luajit.cmake to match with LuaJIT makefile
  CMakeLists.txt
  Externals/luajit.cmake
Labels: Build issue, Linux, Lua

#742 CMakeLists: Fix compiler output not accounting for the build type.
  CMakeLists.txt
Labels: Build issue, Player Experience

#744 Move LuaJIT in LuaJIT-proj directory in CMake (closes #742)
  CMakeLists.txt
  Externals/CMakeLists.txt
  Externals/LuaJIT-proj/CMakeLists.txt
  Externals/LuaJIT-proj/luajit.cmake
Labels: Build issue, Enhancement, Infrastructure

#748 Fix AppVeyor build, fix DCMAKE_BUILD_TYPE typo in cibuild.yml
  .github/workflows/cibuild.yml
  appveyor.yml
Labels: Build issue

#750 Remove cotire and use target_precompile_headers in CMake
  CMakeLists.txt
  Externals/OPCODE/CMakeLists.txt
  cmake/cotire.cmake
  src/Common/Platform.hpp
  src/Layers/xrAPI/CMakeLists.txt
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_R1/CMakeLists.txt
  src/utils/xrLCUtil/CMakeLists.txt
  src/utils/xrLC_Light/CMakeLists.txt
  src/utils/xrMiscMath/CMakeLists.txt
  src/xrAICore/CMakeLists.txt
  src/xrCDB/CMakeLists.txt
  src/xrCore/CMakeLists.txt
  src/xrEngine/CMakeLists.txt
  src/xrGame/CMakeLists.txt
  src/xrGameSpy/CMakeLists.txt
  src/xrNetServer/CMakeLists.txt
  src/xrParticles/CMakeLists.txt
  src/xrPhysics/CMakeLists.txt
  src/xrScriptEngine/CMakeLists.txt
  src/xrSound/CMakeLists.txt
  src/xrUICore/CMakeLists.txt
Labels: Enhancement, Portability

#761 Rename cpuid.h header, fix __cpuid call
  src/xrCore/CMakeLists.txt
  src/xrCore/_math.h
  src/xrCore/xrCore.vcxproj
  src/xrCore/xrCore.vcxproj.filters
  src/xrCore/xr_cpuid.cpp
  src/xrCore/xr_cpuid.h
Labels: Bug, Build issue, Portability
