Repository OpenXRay/xray-16, pull requests merged in 2021-04, with the labels that each got.

#764 GitHub Actions: Fix Linux x86 build
  .github/workflows/cibuild.yml
Labels: Build issue

#766 Fix some build warnings
  src/xrCore/_math.cpp
  src/xrGame/Actor.cpp
  src/xrGame/CMakeLists.txt
  src/xrGame/alife_registry_container_composition.h
  src/xrGame/inventory_upgrade_manager.cpp
Labels: Code Quality

#773 CMake hacks for MCST e2k (Elbrus 2000) architecture
  Externals/LuaJIT-proj/luajit.cmake
  src/xrGame/CMakeLists.txt
Labels: Portability

#776 Fix luajit rebuilding every time
  Externals/LuaJIT-proj/luajit.cmake
Labels: Build issue, Developer Experience, Enhancement
