Repository OpenXRay/xray-16, pull requests merged in 2022-03, with the labels that each got.

#954 Properly select noise texture in postprocess phase
  src/Layers/xrRenderPC_GL/rgl.h
  src/Layers/xrRenderPC_R2/r2.h
  src/Layers/xrRenderPC_R4/r4.h
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2_rendertarget_phase_PP.cpp
Labels: Bug, Renderer, Code Quality

#967 Fixes partial "Getting rid of Microsoft specific types" #23. LPCSTR to pcstr
  src/Common/object_cloner.h
  src/Common/object_comparer.h
  src/Common/object_loader.h
  src/Common/object_saver.h
Labels: Enhancement

#968 Fixes partial "Getting rid of Microsoft specific types" #23. LPCSTR to pcstr
  src/editors/xrWeatherEditor/ide_impl.cpp
  src/editors/xrWeatherEditor/ide_impl.hpp
  src/editors/xrWeatherEditor/pch.hpp
  src/editors/xrWeatherEditor/property_boolean_values_value.cpp
  src/editors/xrWeatherEditor/property_boolean_values_value.hpp
  src/editors/xrWeatherEditor/property_boolean_values_value_reference.cpp
  src/editors/xrWeatherEditor/property_boolean_values_value_reference.hpp
  src/editors/xrWeatherEditor/property_float_enum_value.hpp
  src/editors/xrWeatherEditor/property_float_enum_value_reference.hpp
  src/editors/xrWeatherEditor/property_holder.cpp
  src/editors/xrWeatherEditor/property_holder.hpp
  src/editors/xrWeatherEditor/property_holder_boolean.cpp
  src/editors/xrWeatherEditor/property_holder_collection.cpp
  src/editors/xrWeatherEditor/property_holder_color.cpp
  src/editors/xrWeatherEditor/property_holder_container.cpp
  src/editors/xrWeatherEditor/property_holder_float.cpp
  src/editors/xrWeatherEditor/property_holder_integer.cpp
  src/editors/xrWeatherEditor/property_holder_string.cpp
  src/editors/xrWeatherEditor/property_holder_vec3f.cpp
  src/editors/xrWeatherEditor/property_integer_enum_value.hpp
  src/editors/xrWeatherEditor/property_integer_enum_value_reference.hpp
  src/editors/xrWeatherEditor/property_integer_values_value.cpp
  src/editors/xrWeatherEditor/property_integer_values_value.hpp
  src/editors/xrWeatherEditor/property_integer_values_value_getter.cpp
  src/editors/xrWeatherEditor/property_integer_values_value_reference.cpp
  src/editors/xrWeatherEditor/property_integer_values_value_reference.hpp
  src/editors/xrWeatherEditor/property_integer_values_value_reference_getter.cpp
  src/editors/xrWeatherEditor/property_string_values_value.cpp
  src/editors/xrWeatherEditor/property_string_values_value.hpp
  src/editors/xrWeatherEditor/property_string_values_value_getter.cpp
  src/editors/xrWeatherEditor/property_string_values_value_shared_str.cpp
  src/editors/xrWeatherEditor/property_string_values_value_shared_str.hpp
  src/editors/xrWeatherEditor/property_string_values_value_shared_str_getter.cpp
  src/editors/xrWeatherEditor/window_weather_editor.cpp
  src/editors/xrWeatherEditor/window_weather_editor.h
  src/editors/xrWeatherEngine/engine_impl.cpp
  src/editors/xrWeatherEngine/engine_impl.hpp
  src/editors/xrWeatherEngine/property_collection.hpp
  src/editors/xrWeatherEngine/property_collection_inline.hpp
Labels: Enhancement

#973 Removed some Windows-specific types usage #23
  Externals/cximage/ximadef.h
  src/Common/PlatformBSD.inl
  src/Common/PlatformLinux.inl
  src/Layers/xrRender/SH_Texture.cpp
  src/Layers/xrRenderDX10/StateManager/dx10State.cpp
  src/Layers/xrRenderDX10/dx10Texture.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/utils/xrAI/compiler_load.cpp
  src/xrCore/Memory/xrMemory_align.cpp
  src/xrEngine/tntQAVI.cpp
  src/xrGame/configs_dumper.cpp
  src/xrGame/screenshot_manager.cpp
  src/xrScriptEngine/script_engine.cpp
Labels: Enhancement, Portability, Code Quality
