Repository OpenXRay/xray-16, pull requests merged in 2022-12, with the labels that each got.

#739 Support running from the build tree without setting LD_LIBRARY_PATH
  CMakeLists.txt
  src/xrCore/LocatorAPI.cpp
  src/xrCore/ModuleLookup.cpp
  src/xrCore/xrCore.cpp
  src/xr_3da/xr_3da.sh
Labels: Enhancement, Player Experience, Linux

#1090 Scripts can now handle right mouse button click on map spot
  src/xrGame/CMakeLists.txt
  src/xrGame/map_location.cpp
  src/xrGame/map_location.h
  src/xrGame/map_script.cpp
  src/xrGame/map_spot.cpp
  src/xrGame/ui/UIMap.cpp
  src/xrGame/ui/UIMapWnd.cpp
  src/xrGame/ui/UIMapWnd.h
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
  src/xrUICore/UIMessages.h
Labels: Enhancement, Gameplay, UI, Lua, Player Experience, Modmaker Experience

#1031 Feature: Allow to create custom PDA tabs
  src/xrGame/ui/UIPdaWnd.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1016 Add the ResetBoneProtections method
  src/xrGame/ai/stalker/ai_stalker.cpp
  src/xrGame/ai/stalker/ai_stalker.h
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object2.cpp
  src/xrGame/script_game_object_script3.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1015 Add methods for remove danger, sound, hit and visible objects
  src/xrGame/danger_manager.cpp
  src/xrGame/danger_manager.h
  src/xrGame/hit_memory_manager.cpp
  src/xrGame/hit_memory_manager.h
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object2.cpp
  src/xrGame/script_game_object_script3.cpp
  src/xrGame/sound_memory_manager.cpp
  src/xrGame/sound_memory_manager.h
  src/xrGame/visual_memory_manager.cpp
  src/xrGame/visual_memory_manager.h
Labels: Enhancement, Lua, Modmaker Experience

#1014 Add code for supporting of backpacks feature
  src/xrGame/ActorBackpack.cpp
  src/xrGame/ActorBackpack.h
  src/xrGame/Actor_Movement.cpp
  src/xrGame/CMakeLists.txt
  src/xrGame/InventoryOwner.cpp
  src/xrGame/InventoryOwner.h
  src/xrGame/script_game_object_inventory_owner.cpp
  src/xrGame/ui/UIActorMenu.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInitialize.cpp
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
  src/xrServerEntities/clsid_game.h
  src/xrServerEntities/inventory_space.h
  src/xrServerEntities/object_factory_register.cpp
Labels: Enhancement, Gameplay, Modmaker Experience

#1034 Improvement loading of weapons upgrades
  src/xrGame/inventory_upgrade_manager.cpp
Labels: Enhancement, Modmaker Experience

#1017 Add code for supporting of the knife slot for inventory
  src/xrGame/ui/UIActorMenu.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInitialize.cpp
  src/xrGame/ui/UIActorMenuInventory.cpp
Labels: Enhancement, Modmaker Experience

#1002 Export CAmebaZone and CNoGravityZone classes into lua (for CoC Compatibility)
  src/xrGame/HairsZone_script.cpp
Labels: Enhancement, Lua, Modmaker Experience, Mods

#1003 Export CCustomOutfit class into lua (for CoC Compatibility)
  src/xrGame/CMakeLists.txt
  src/xrGame/CustomOutfit_script.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
Labels: Enhancement, Lua, Modmaker Experience, Mods

#1043 Fixed wrong scale&position of ammo and knife-binoc-bolt for SOC and CS.
  src/xrGame/ui/UIHudStatesWnd.cpp
Labels: Bug, Call of Pripyat, Clear Sky, Shadow of Chernobyl

#1149 Support for flashlight on/off sounds
  src/xrGame/Torch.cpp
Labels: Enhancement, Gameplay, Player Experience, Modmaker Experience, good first issue

#851 Pass NPC object to `trade_sell_buy_item` Actor callback
  src/xrGame/trade2.cpp
Labels: Lua

#852 Добавил метод для перехода по локациям из скрипта.
  src/xrGame/level_script.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1030 feat: Add code for support repair kits
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenu_action.cpp
  src/xrGame/ui/UIDragDropListEx.h
Labels: Enhancement, Gameplay, Modmaker Experience

#1153 *BSD support
  CMakeLists.txt
  src/Common/Platform.hpp
  src/Common/PlatformBSD.inl
  src/Layers/xrRender/ParticleEffect.cpp
  src/xrCore/FS.cpp
  src/xrCore/FS.h
  src/xrCore/FS_internal.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/ModuleLookup.cpp
  src/xrCore/Threading/Event.cpp
  src/xrCore/Threading/Event.hpp
  src/xrCore/Threading/ThreadUtil.cpp
  src/xrCore/_math.cpp
  src/xrCore/file_stream_reader.cpp
  src/xrCore/file_stream_reader.h
  src/xrCore/stream_reader.cpp
  src/xrCore/stream_reader.h
  src/xrCore/stream_reader_inline.h
  src/xrCore/string_concatenations.cpp
  src/xrCore/string_concatenations.h
  src/xrCore/xrCore.cpp
  src/xrCore/xrDebug.cpp
  src/xrCore/xrDebug.h
  src/xrCore/xrMemory.cpp
  src/xrCore/xr_ini.cpp
  src/xrCore/xr_types.h
  src/xrEngine/main.cpp
  src/xrGame/GameObject.cpp
  src/xrGame/Level.h
  src/xrGame/game_sv_base.h
  src/xrGame/ui/UICDkey.cpp
  src/xrGame/xrServer.h
  src/xr_3da/entry_point.cpp
Labels: Enhancement, Portability, *BSD

#1154 GitHub Actions: Build ARM/ARM64
  .github/workflows/cibuild.yml
Labels: Enhancement, Portability, Infrastructure, Code Quality, Developer Experience, Linux, ARM

#1155 GitHub Actions: Switch Alpine builds to use mold linker to speed up compilation
  .github/workflows/cibuild.yml
Labels: Enhancement, Infrastructure, Linux

#1157 CMake: Respect `arm64` architecture
  CMakeLists.txt
Labels: Enhancement, ARM, Build issue

#1035 Improvement creating slots from system.ltx
  src/xrGame/Inventory.cpp
  src/xrGame/Inventory.h
  src/xrServerEntities/inventory_space.h
Labels: Enhancement, Modmaker Experience

#1159 Move CUIStaticScript and CUIWindowScript from SCRIPT_EXPORT to global scope
  src/xrUICore/Static/UIStatic_script.cpp
  src/xrUICore/Windows/UIWindow_script.cpp
Labels: Bug, ARM, Build issue

#1142 Fixed few mistakes and warnings in the code
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/xrGame/Actor_Network.cpp
  src/xrGame/movement_manager_level.cpp
  src/xrGame/movement_manager_patrol.cpp
  src/xrGame/ui/UIMapList.cpp
Labels: Bug, Code Quality, Vanilla Bug

#1178 Code refactor and minor optimize using C++17
  src/xrGame/memory_manager.cpp
  src/xrGame/memory_space.h
  src/xrGame/space_restriction.h
  src/xrGame/space_restriction_abstract_inline.h
  src/xrGame/space_restriction_inline.h
  src/xrGame/squad_hierarchy_holder.cpp
Labels: Code Quality

#1189 Fixed dialogs abuse and remove unreachable breaks after return
  src/xrGame/Level_input.cpp
Labels: Bug, Code Quality

#1141 Code refactor C++17 loops
  src/Layers/xrRender/FSkinned.cpp
  src/Layers/xrRender/ModelPool.cpp
  src/Layers/xrRender/ParticleEffect.cpp
  src/Layers/xrRender/ParticleEffect.h
  src/Layers/xrRender/ParticleEffectDef.h
  src/Layers/xrRender/ParticleGroup.cpp
  src/Layers/xrRender/light.cpp
  src/Layers/xrRender/xrStripify.cpp
  src/Layers/xrRenderGL/glDetailManager_VS.cpp
  src/Layers/xrRenderGL/glR_Backend_Runtime.h
  src/Layers/xrRenderGL/glTexture.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_build_textures.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/xrCDB/Frustum.cpp
  src/xrCDB/xrCDB_Collector.cpp
  src/xrCDB/xr_area_raypick.cpp
  src/xrCore/xr_ini.cpp
  src/xrCore/xr_shared.h
  src/xrCore/xrsharedmem.cpp
  src/xrEngine/CameraManager.cpp
  src/xrEngine/Environment.cpp
  src/xrEngine/LightAnimLibrary.cpp
  src/xrEngine/ObjectAnimator.cpp
  src/xrGame/Actor.cpp
  src/xrGame/Level.cpp
  src/xrGame/Level_Bullet_Manager.cpp
  src/xrGame/PHCollisionDamageReceiver.cpp
  src/xrGame/PHDestroyable.cpp
  src/xrGame/ParticlesPlayer.cpp
  src/xrGame/PhysicObject.cpp
  src/xrGame/ai/crow/ai_crow.cpp
  src/xrGame/damage_manager.cpp
  src/xrGame/level_changer.cpp
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_CoreA.cpp
  src/xrSound/SoundRender_Core_Processor.cpp
  src/xrSound/SoundRender_Core_StartStop.cpp
  src/xrSound/SoundRender_Environment.cpp
  src/xrSound/SoundRender_TargetA.cpp
Labels: Enhancement, Code Quality

#1161 Replaced `push_back(std::make_pair(...))` to `emplace_back(...)`
  src/Layers/xrRender/Blender_Recorder.cpp
  src/Layers/xrRender/Blender_Recorder_R2.cpp
  src/Layers/xrRender/ResourceManager.h
  src/Layers/xrRender/dxEnvironmentRender.cpp
  src/Layers/xrRender/dxObjectSpaceRender.cpp
  src/Layers/xrRender/r__sector_traversal.cpp
  src/Layers/xrRenderDX11/Blender_Recorder_R3.cpp
  src/Layers/xrRender_R2/r2_rendertarget_enable_scissor.cpp
  src/utils/mp_gpprof_server/sake_worker.cpp
  src/utils/xrAI/compiler_cover.cpp
  src/utils/xrAI/game_graph_builder.cpp
  src/xrGame/UIGameCTA.cpp
  src/xrGame/agent_enemy_manager.cpp
  src/xrGame/alife_simulator_script.cpp
  src/xrGame/ammunition_groups.cpp
  src/xrGame/entity_alive.cpp
  src/xrGame/game_sv_capture_the_artefact.cpp
  src/xrGame/moving_objects_dynamic.cpp
  src/xrGame/setup_manager_inline.h
  src/xrGame/smart_cover.cpp
  src/xrGame/stalker_animation_data_storage.cpp
  src/xrGame/ui/Restrictions.cpp
Labels: Enhancement, Code Quality

#1164 Replace `push_back` to `emplace_back` and code refactor
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/xrCore/FS.cpp
  src/xrCore/FS.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/Threading/TaskManager.cpp
Labels: Enhancement, Code Quality

#1196 Fix #1186 and #1180
  res/gamedata/configs/scripts/jupiter/jup_a12_bandit_cashier.ltx
  res/gamedata/configs/scripts/zaton/zat_b14_stalker_1.ltx
Labels: Gameplay, Vanilla Bug

#1199 GitHub Actions: upload all artifacts using a wildcard and specify git commit sha in artifacts
  .github/workflows/cibuild.yml
Labels: Infrastructure
