Repository OpenXRay/xray-16, pull requests merged in 2022-01, with the labels that each got.

#924 Added emplace method to AssociativeVector.
  src/xrCore/Containers/AssociativeVector.hpp
  src/xrGame/game_state_accumulator_state_register.cpp
Labels: Enhancement

#926 Replaced AssociativeVector::insert method with the corresponding emplace method.
  src/editors/xrWeatherEngine/editor_environment_levels_manager.cpp
  src/utils/mp_balancer/statistics_collector.cpp
  src/utils/xrAI/game_graph_builder.cpp
  src/utils/xrAI/xr_graph_merge.cpp
  src/xrAICore/Navigation/PatrolPath/patrol_path_storage.cpp
  src/xrAICore/Navigation/game_graph_inline.h
  src/xrGame/DemoInfo_Loader.cpp
  src/xrGame/Message_Filter.cpp
  src/xrGame/UIPlayerItem.cpp
  src/xrGame/UITeamHeader.cpp
  src/xrGame/UITeamPanels.cpp
  src/xrGame/UITeamState.cpp
  src/xrGame/WeaponKnife.cpp
  src/xrGame/ai/monsters/basemonster/base_monster_startup.cpp
  src/xrGame/ai/stalker/ai_stalker.cpp
  src/xrGame/alife_online_offline_group.cpp
  src/xrGame/alife_spawn_registry.cpp
  src/xrGame/awards_store.cpp
  src/xrGame/best_scores_helper.cpp
  src/xrGame/best_scores_store.cpp
  src/xrGame/black_list.cpp
  src/xrGame/bone_groups.cpp
  src/xrGame/detail_path_manager_inline.h
  src/xrGame/file_transfer.cpp
  src/xrGame/game_cl_base.cpp
  src/xrGame/game_sv_capture_the_artefact.cpp
  src/xrGame/game_sv_capture_the_artefact_buy_event.cpp
  src/xrGame/game_sv_item_respawner.cpp
  src/xrGame/game_sv_mp.cpp
  src/xrGame/hits_store.cpp
  src/xrGame/inventory_upgrade_manager.cpp
  src/xrGame/kills_store.cpp
  src/xrGame/obstacles_query_inline.h
  src/xrGame/player_account.cpp
  src/xrGame/player_state_avenger.cpp
  src/xrGame/player_state_marksman.cpp
  src/xrGame/purchase_list.cpp
  src/xrGame/purchase_list_inline.h
  src/xrGame/rat_state_manager.cpp
  src/xrGame/reward_manager.cpp
  src/xrGame/smart_cover_action.cpp
  src/xrGame/smart_cover_loophole.cpp
  src/xrGame/sound_player.cpp
  src/xrGame/stalker_velocity_holder.cpp
  src/xrGame/step_manager.cpp
  src/xrGame/trade_factor_parameters_inline.h
  src/xrScriptEngine/script_engine.cpp
Labels: Enhancement

#937 Fix LUA_STUDIO debugger ifdefs
  src/xrScriptEngine/ScriptEngineScript.cpp
  src/xrScriptEngine/script_engine.cpp
Labels: Build issue

#938 Fix actor freeze in air after turning noclip off
  src/xrGame/console_commands.cpp
Labels: Enhancement, Developer Experience, Modmaker Experience

#946 Fix CMake generator expressions comparing options
  Externals/LuaJIT-proj/HostBuildTools/minilua/CMakeLists.txt
  Externals/LuaJIT-proj/luajit.cmake
  Externals/NVTT/src/nvcore/CMakeLists.txt
  Externals/NVTT/src/nvimage/CMakeLists.txt
  Externals/NVTT/src/nvmath/CMakeLists.txt
  Externals/NVTT/src/nvtt/CMakeLists.txt
  Externals/NVTT/src/nvtt/squish/CMakeLists.txt
Labels: Code Quality, Build issue
