Repository OpenXRay/xray-16, pull requests merged in 2022-07, with the labels that each got.

#1023 fix: update_path_script return normalized path for Linux platform
  src/xrGame/fs_registrator_script.cpp
Labels: Enhancement, Portability

#953 rgl: re-use of r4 rendertarget_phase_* files
  res/gamedata/shaders/gl/combine_1.vs
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_occq.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_rain.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_scene.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_smap_D.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_ssao.cpp
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
  src/Layers/xrRender_R2/r3_rendertarget_phase_occq.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_scene.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_smap_D.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_ssao.cpp
Labels: Enhancement, Renderer

#1040 Fix build warnings in src/Layers
  src/Layers/xrRender/BufferUtils.h
  src/Layers/xrRender/D3DUtils.h
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager_CACHE.cpp
  src/Layers/xrRender/FBasicVisual.h
  src/Layers/xrRender/HWCaps.h
  src/Layers/xrRender/Light_DB.cpp
  src/Layers/xrRender/NvTriStrip.cpp
  src/Layers/xrRender/NvTriStripObjects.cpp
  src/Layers/xrRender/ParticleEffect.cpp
  src/Layers/xrRender/SkeletonAnimated.cpp
  src/Layers/xrRender/SkeletonAnimated.h
  src/Layers/xrRender/SkeletonCustom.h
  src/Layers/xrRender/dxStatGraphRender.cpp
  src/Layers/xrRender/r__pixel_calculator.cpp
  src/Layers/xrRenderDX10/3DFluid/dx103DFluidObstacles.cpp
  src/Layers/xrRenderDX10/StateManager/dx10SamplerStateCache.cpp
  src/Layers/xrRenderDX10/dx10BufferUtils.cpp
  src/Layers/xrRenderDX9/BufferUtils.cpp
  src/Layers/xrRenderGL/glBufferUtils.cpp
  src/Layers/xrRenderGL/glSH_RT.cpp
  src/Layers/xrRenderGL/glSH_Texture.cpp
  src/Layers/xrRenderGL/glTexture.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_spot.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_build_textures.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_draw_rain.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_u_set_rt.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_GL/r3_R_rain.cpp
  src/Layers/xrRenderPC_R4/light_GI.cpp
  src/Layers/xrRenderPC_R4/r4_R_rain.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_R_sun_support.h
  src/Layers/xrRender_R2/r2_rendertarget.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_occq.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_scene.cpp
Labels: Code Quality

#1011 Export some keys in Lua
  src/xrGame/key_binding_registrator_script.cpp
Labels: Enhancement, Lua, Modmaker Experience
