Repository OpenXRay/xray-16, pull requests merged in 2022-11, with the labels that each got.

#1105 A set of small fixes to be able to run the game on macOS (fixes #1104)
  res/gamedata/shaders/gl/gather.ps
  src/Layers/xrRender/BufferUtils.h
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/R_Backend_Runtime.cpp
  src/Layers/xrRender/ShaderResourceTraits.h
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRenderGL/glBufferUtils.cpp
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderGL/glR_Backend_Runtime.h
  src/Layers/xrRenderGL/glSH_RT.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_build_textures.cpp
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
  src/utils/xrSE_Factory/xrUIXmlParser.cpp
  src/xrCore/xrMemory.cpp
  src/xrEngine/main.cpp
  src/xrEngine/x_ray.cpp
  src/xrGame/ai/monsters/monster_cover_manager.cpp
  src/xrGame/ai/monsters/telekinetic_object.h
  src/xrGame/cover_evaluators.h
  src/xrGame/danger_location.h
  src/xrGame/game_base_script.cpp
  src/xrGame/rat_state_base.h
  src/xrGame/reward_event_handler.h
  src/xrGame/ui/UIGameTutorial.h
  src/xrParticles/particle_actions.h
  src/xrServerEntities/object_item_abstract.h
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/XML/xrUIXmlParser.cpp
  src/xrUICore/ui_base.h
Labels: Bug, Enhancement, Renderer, Portability, Code Quality, macOS

#842 Enable EAX support for all sound devices
  src/xrSound/OpenALDeviceList.cpp
  src/xrSound/OpenALDeviceList.h
  src/xrSound/SoundRender_CoreA.cpp
  src/xrSound/xrSound.vcxproj
Labels: Enhancement, Gameplay, Sound, Player Experience

#1130 Fix incorrect display of the hotkey on the item icon in the multiplayer trade menu
  src/xrGame/ui/UIMpTradeWnd_items.cpp
Labels: Bug, UI

#1013 impr: Replace relative paths on variable
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_R1/xrRender_R1.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/editors/xrWeatherEditor/xrWeatherEditor.vcxproj
  src/editors/xrWeatherEngine/xrWeatherEngine.vcxproj
  src/utils/CompressionTest/CompressionTest.vcxproj
  src/utils/ETools/ETools.vcxproj
  src/utils/mp_balancer/mp_balancer.vcxproj
  src/utils/xrAI/xrAI.vcxproj
  src/utils/xrCompress/xrCompress.vcxproj
  src/utils/xrDO_Light/xrDO_Light.vcxproj
  src/utils/xrLC/xrLC.vcxproj
  src/utils/xrLCUtil/xrLCUtil.vcxproj
  src/utils/xrLC_Light/xrLC_Light.vcxproj
  src/utils/xrLC_LightStab/xrLC_LightStab.vcxproj
  src/utils/xrSE_Factory/xrSE_Factory.vcxproj
  src/xrAICore/xrAICore.vcxproj
  src/xrCore/xrCore.vcxproj
  src/xrEngine/xrEngine.vcxproj
  src/xrGame/xrGame.vcxproj
  src/xrParticles/xrParticles.vcxproj
  src/xrPhysics/xrPhysics.vcxproj
  src/xrScriptEngine/xrScriptEngine.vcxproj
  src/xrSound/xrSound.vcxproj
  src/xr_3da/xr_3da.vcxproj
Labels: Enhancement
