Repository OpenXRay/xray-16, pull requests merged in 2022-05, with the labels that each got.

#1001 Add the section_for_each and set_readonly functions for ini file (for CoC Compatibility)
  src/xrCore/xr_ini.cpp
  src/xrCore/xr_ini.h
  src/xrServerEntities/script_ini_file_script.cpp
Labels: Enhancement, Lua, Modmaker Experience, Mods

#1038 Travis CI: build Debug configuration on ARM64
  .travis.yml
Labels: Enhancement, Portability, Infrastructure, Code Quality, Developer Experience, ARM

#1022 Fix build warnings in src/xrCore and src/Common
  CMakeLists.txt
  src/Common/PlatformBSD.inl
  src/Common/PlatformLinux.inl
  src/xrCore/Animation/BoneEditor.cpp
  src/xrCore/Compression/Coder.hpp
  src/xrCore/Compression/Model.cpp
  src/xrCore/Compression/SubAlloc.hpp
  src/xrCore/Compression/rt_compressor.cpp
  src/xrCore/Compression/rt_compressor9.cpp
  src/xrCore/FS.cpp
  src/xrCore/FixedVector.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI.h
  src/xrCore/LzHuf.cpp
  src/xrCore/Math/SkinXW_CPP.cpp
  src/xrCore/PostProcess/PostProcess.cpp
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/XML/tinyxmlparser.cpp
  src/xrCore/_bitwise.h
  src/xrCore/fastdelegate.h
  src/xrCore/file_stream_reader.cpp
  src/xrCore/net_utils.h
  src/xrCore/os_clipboard.cpp
  src/xrCore/string_concatenations.cpp
  src/xrCore/xrDebug.cpp
  src/xrCore/xrDelegate/xrDelegate.h
  src/xrCore/xrPool.h
  src/xrCore/xr_ini.cpp
Labels: Code Quality
