Repository OpenXRay/xray-16, pull requests merged in 2022-08, with the labels that each got.

#928 Removed unneccessary fragment shaders in depth passes
  res/gamedata/shaders/gl/shadow_direct_base.ps
  src/Layers/xrRender/blenders/Blender_BmmD_deferred.cpp
  src/Layers/xrRender/blenders/Blender_Model_EbB_deferred.cpp
  src/Layers/xrRender/blenders/Blender_tree_deferred.cpp
  src/Layers/xrRender/blenders/blender_deffer_flat.cpp
  src/Layers/xrRender/blenders/blender_deffer_model.cpp
  src/Layers/xrRender/dxEnvironmentRender.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRenderGL/glR_Backend_Runtime.h
  src/Layers/xrRenderPC_GL/gl_rendertarget.h
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_point.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_spot.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_draw_rain.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_u_set_rt.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_scene.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_smap_D.cpp
Labels: Enhancement, Renderer, Performance, Code Quality

#1064 Small fixes and perf improvements
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_GL/r3_R_rain.cpp
  src/Layers/xrRenderPC_R4/r4_R_rain.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
Labels: Enhancement, Renderer, Performance

#1032 Extend level script
  src/xrGame/level_script.cpp
  src/xrGame/ui/UIGameTutorial.cpp
  src/xrGame/ui/UIGameTutorial.h
Labels: Enhancement, Lua, Modmaker Experience

#1055 Fixed crash when trying to pass nil to `alife():release(...)`
  src/xrGame/alife_simulator_script.cpp
Labels: Bug

#873 Add lua method to get the level changer destination level name
  src/xrServerEntities/xrServer_Objects_ALife_script.cpp
Labels: Enhancement, Lua

#1066 xrRender: cached inverted view transform
  src/Layers/xrRender/occRasterizer.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_accum_spot.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_phase_ssao.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_combine.cpp
  src/Layers/xrRender_R2/r3_rendertarget_accum_spot.cpp
  src/Layers/xrRender_R2/r3_rendertarget_draw_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_ssao.cpp
  src/xrEngine/device.cpp
  src/xrEngine/device.h
Labels: Enhancement, Renderer, Performance

#1070 GitHub Actions: add Clang build
  .github/workflows/cibuild.yml
  CMakeLists.txt
  Externals/ode/include/ode/common.h
  Externals/ode/include/ode/config.h
  src/utils/xrLCUtil/xrLCUtil.hpp
  src/xrGame/kills_store.h
Labels: Enhancement, Infrastructure, Developer Experience

#1072 GitHub Actions: build on Alpine (closes #1058)
  .github/workflows/cibuild.yml
Labels: Enhancement, Infrastructure, Developer Experience

#1067 xrRender: rain pass optimization
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager.h
  src/Layers/xrRender/blenders/dx11RainBlender.cpp
  src/Layers/xrRender/blenders/glRainBlender.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget.h
  src/Layers/xrRenderPC_GL/rgl_shaders.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget.h
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/r2_rendertarget.cpp
  src/Layers/xrRender_R2/r2_types.h
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_draw_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_phase_smap_D.cpp
  src/xrEngine/Render.h
  src/xrEngine/device.cpp
Labels: Enhancement, Renderer, Performance

#1052 [xrRender] Fixed game crash when rendering wallmarks
  src/Layers/xrRender/WallmarksEngine.cpp
Labels: Bug, Renderer

#1019 Extend CUIGameCustom Lua export
  src/xrGame/UIDialogHolder.h
  src/xrGame/UIGameCustom_script.cpp
  src/xrGame/ui/UIWindow_script.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1006 Add lua functions for set start an actor position
  src/xrGame/Actor.h
  src/xrGame/Actor_Network.cpp
  src/xrGame/alife_graph_registry.cpp
  src/xrGame/alife_simulator_script.cpp
  src/xrServerEntities/xrServer_Objects_ALife.h
Labels: Enhancement, Lua, Modmaker Experience, Mods

#1018 Export actor conditions to Lua
  src/xrGame/ActorCondition.cpp
  src/xrGame/ActorCondition.h
  src/xrGame/CMakeLists.txt
  src/xrGame/EntityCondition.h
  src/xrGame/EntityCondition_script.cpp
  src/xrGame/actor_script.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
Labels: Enhancement, Lua, Modmaker Experience
