Repository OpenXRay/xray-16, pull requests merged in 2022-06, with the labels that each got.

#1049 Reject item in active slot on death in TDM
  src/xrGame/game_sv_teamdeathmatch.cpp
Labels: Bug, Multiplayer, Code Quality

#997 Add configs for debugging and tasks for VSCode
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: Enhancement, Lua, Modmaker Experience, Mods

#1036 Add methods for inactualize game and levels paths
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object3.cpp
  src/xrGame/script_game_object_script2.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1033 Feat extend alife simulator script
  src/xrGame/alife_simulator_script.cpp
Labels: Enhancement, Lua, Modmaker Experience
