Repository OpenXRay/xray-16, pull requests merged in 2023-08, with the labels that each got.

#1405 [FIX] Custom drag drop script export fix.
  src/xrGame/ui/UIActorMenu_action.cpp
Labels: UI

#1350 Add customizable framerate cap (closes #1349)
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/ger/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  res/gamedata/scripts/ui_mm_opt_video_adv.script
  src/xrEngine/device.cpp
  src/xrEngine/xr_ioc_cmd.cpp
Labels: Enhancement, Player Experience

#1375 [Bugfix]: #1374 - fix incorrect initialization CHUDState by setting eHidden as first value of EHudStates
  src/xrGame/HudItem.h
Labels: Bug, Animation

#1431 [Linux]: Fix crash while descending into X8
  src/xrAICore/Navigation/level_graph_manager.h
Labels: AI

#1423 [Linux]: Allow to disable problematic functionality
  CMakeLists.txt
  src/xrCore/xrCore.cpp
Labels: Enhancement, Player Experience, Linux

#1429 [FEATURE] Updating debug methods for GOAP planner
  src/xrGame/action_planner_inline.h
  src/xrGame/action_planner_script.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1420 More robust CUISequenceSimpleItem loading to prevent crashes when loading game tutorials
  src/xrGame/ui/UIGameTutorial.h
  src/xrGame/ui/UIGameTutorialSimpleItem.cpp
Labels: Bug, UI

#1422 [Linux]: Update debian/ folder
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/files
  debian/openxray-data.install
  debian/openxray-data.lintian-overrides
  debian/openxray.install
  debian/openxray.lintian-overrides
  debian/openxray.triggers
  debian/rules
  debian/source/format
Labels: Portability, Infrastructure, Linux

#1409 Reserve if count inserted elements exceeds 3
  src/xrEngine/xr_efflensflare.cpp
  src/xrGame/Actor.cpp
  src/xrGame/CustomMonster.cpp
  src/xrGame/Level_Bullet_Manager.cpp
  src/xrGame/TeleWhirlwind.cpp
  src/xrGame/TeleWhirlwind.h
  src/xrGame/Tracer.cpp
  src/xrGame/xrServer_updates_compressor.cpp
Labels: Enhancement

#1344 If it is not static big array, better to use static constexpr
  src/Layers/xrRenderPC_R1/LightPPA.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrCore/xrCore.cpp
  src/xrCore/xrDebug.cpp
  src/xrGame/AnselManager.cpp
  src/xrGame/inventory_upgrade_manager.cpp
  src/xrGame/ui/UITalkDialogWnd.cpp
  src/xrNetServer/NET_Server.cpp
  src/xrNetServer/NET_Server.h
  src/xrNetServer/empty/NET_Server.cpp
  src/xrNetServer/empty/NET_Server.h
Labels: Enhancement

#1335 xrGame, xrSound: refactor some code to use unordered maps
  src/xrGame/sound_memory_manager.cpp
  src/xrGame/sound_memory_manager.h
  src/xrGame/sound_memory_manager_inline.h
  src/xrSound/SoundRender_Core_StartStop.cpp
Labels: Sound, Performance
