Repository OpenXRay/xray-16, pull requests merged in 2023-07, with the labels that each got.

#1390 [Bugfix]: Fix player_hud_tune item position/rotation adjustment
  src/xrGame/player_hud.cpp
  src/xrGame/player_hud.h
  src/xrGame/player_hud_tune.cpp
Labels: Bug

#1366 [Vanilla Bugfix]: Prevent stuck running animation; remove mcSprint from mstate_real when checking opposite keys (closes #1365)
  src/xrGame/Actor_Movement.cpp
Labels: Bug, Animation

#1362 [Vanilla Bugfix]: Grenade hide animation doesn't play when switching grenade type (closes #1124)
  src/xrGame/Grenade.cpp
  src/xrGame/Inventory.cpp
  src/xrGame/Inventory.h
  src/xrGame/inventory_quickswitch.cpp
Labels: Bug, Animation

#1372 [Bugfix]: fix race condition preventing OnAnimationEnd call for shoot animation (closes #1371)
  src/xrGame/WeaponFire.cpp
  src/xrGame/WeaponMagazined.cpp
Labels: Bug, Animation

#1348 [Bugfix]: Fix menu frame limit does not work until level is loaded (closes #1347)
  src/xrEngine/device.cpp
Labels: Bug

#1341 xrRender, xrCDB: use reserve to optimize inserts into containers
  src/Include/xrRender/ObjectSpaceRender.h
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/ResourceManager_Loader.cpp
  src/Layers/xrRender/dxObjectSpaceRender.cpp
  src/Layers/xrRender/dxObjectSpaceRender.h
  src/xrCDB/xr_area_raypick.cpp
Labels: Enhancement, Renderer

#1323 Using reserve for loading smart covers
  src/xrGame/smart_cover_action.cpp
  src/xrGame/smart_cover_description.cpp
  src/xrGame/smart_cover_transition.cpp
  src/xrScriptEngine/xrScriptEngine.cpp
  src/xrScriptEngine/xrScriptEngine.hpp
Labels: Enhancement, Performance
