Repository OpenXRay/xray-16, pull requests merged in 2023-05, with the labels that each got.

#870 Implementing ASAN for Debug
  src/Layers/xrRenderPC_R1/FStaticRender_Shaders.cpp
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
  src/xrCore/xrMemory.cpp
  src/xrEngine/Device_mode.cpp
  src/xrSound/OpenALDeviceList.cpp
  src/xrUICore/ui_styles.cpp
  src/xray_build.props
Labels: Renderer, Sound, UI, ready to merge, Code Quality, Windows

#1339 [gl] Enable anisotropic filtration only if supported
  src/Layers/xrRenderGL/glState.cpp
Labels: Renderer

#1346 xrRender_R4: Fix for memory leak on DX11 resources
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRenderDX11/dx11SH_Texture.cpp
Labels: Renderer

#1351 xrRender: Fix for `vid_restart`
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/ResourceManager_Reset.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_u_set_rt.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
Labels: Renderer, ready to merge
