Repository OpenXRay/xray-16, pull requests merged in 2023-11, with the labels that each got.

#1485 xrGame: Early return in `obstacles_query::set_intersection` if obstacles is empty
  src/xrGame/obstacles_query.cpp
Labels: Enhancement, AI

#1293 Code refactoring in xrRender
  src/Layers/xrRender/ColorMapManager.cpp
  src/Layers/xrRender/ModelPool.cpp
  src/Layers/xrRender/ParticleEffectDef.cpp
  src/Layers/xrRender/ParticleEffectDef.h
  src/Layers/xrRender/R_DStreams.cpp
  src/Layers/xrRender/ResourceManager.cpp
  src/Layers/xrRender/ResourceManager_Loader.cpp
  src/Layers/xrRender/ShaderResourceTraits.h
  src/Layers/xrRender/r__dsgraph_render_lods.cpp
Labels: Renderer

#1495 [Feature]: Screen Space Shaders 18.1 update (Engine and Gamedata)
  res/gamedata/configs/text/eng/openxray.xml
  res/gamedata/configs/text/ger/openxray.xml
  res/gamedata/configs/text/pol/openxray.xml
  res/gamedata/configs/text/rus/openxray.xml
  res/gamedata/configs/ui/ui_mm_opt.xml
  res/gamedata/configs/ui/ui_mm_opt_16.xml
  res/gamedata/scripts/ui_mm_opt_main.script
  res/gamedata/scripts/ui_mm_opt_video.script
  res/gamedata/shaders/r3/accum_base.ps
  res/gamedata/shaders/r3/accum_omni_unshadowed.ps
  res/gamedata/shaders/r3/check_screenspace.h
  res/gamedata/shaders/r3/check_screenspace_NEWGLOSS.h
  res/gamedata/shaders/r3/combine_1.ps
  res/gamedata/shaders/r3/common_brdf.h
  res/gamedata/shaders/r3/deffer_base_aref_bump-hq.ps
  res/gamedata/shaders/r3/deffer_base_hud_bump_d-hq.ps
  res/gamedata/shaders/r3/deffer_base_hud_bump_d.ps
  res/gamedata/shaders/r3/deffer_base_hud_bump_db-hq.ps
  res/gamedata/shaders/r3/deffer_grass.ps
  res/gamedata/shaders/r3/deffer_impl_flat.ps
  res/gamedata/shaders/r3/deffer_model_hud_bump_d-hq.vs
  res/gamedata/shaders/r3/deffer_model_hud_bump_d.vs
  res/gamedata/shaders/r3/details_blend.s
  res/gamedata/shaders/r3/hmodel.h
  res/gamedata/shaders/r3/lmodel.h
  res/gamedata/shaders/r3/pbr_brdf.h
  res/gamedata/shaders/r3/pbr_brdf_ggx.h
  res/gamedata/shaders/r3/pbr_settings.h
  res/gamedata/shaders/r3/rain_patch_normal.ps
  res/gamedata/shaders/r3/screenspace_common_ripples.h
  res/gamedata/shaders/r3/screenspace_reflections.h
  res/gamedata/shaders/r3/settings_screenspace_FLORA.h
  res/gamedata/shaders/r3/settings_screenspace_SSR.h
  res/gamedata/shaders/r3/settings_screenspace_WATER.h
  res/gamedata/shaders/r3/water.ps
  res/gamedata/textures/fx/water_sbumpvolume.dds
  res/gamedata/textures/water/water_sbumpvolume.dds
  src/Layers/xrRender/Blender_Recorder_StandartBinding.cpp
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender/xrRender_console.h
  src/Layers/xrRenderDX11/dx11ResourceManager_Scripting.cpp
  src/Layers/xrRender_R2/r2_types.h
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/Layers/xrRender_R2/r3_rendertarget_draw_rain.cpp
  src/xrEngine/IGame_Persistent.cpp
  src/xrEngine/IGame_Persistent.h
  src/xrEngine/xr_ioc_cmd.cpp
  src/xrEngine/xr_ioc_cmd.h
  src/xrGame/Actor.cpp
  src/xrGame/Actor.h
Labels: Enhancement, Renderer, Player Experience, Game assets

#1491 xrPhysics: Fix potential copy-paste error in `SetLimitsActive` for axis `-1`
  src/xrPhysics/PHJoint.cpp
Labels: Bug, Physics

#1497 Revert "xrCDB/Frustum.cpp: reduced testSphere_dirty function code size"
  src/xrCDB/Frustum.cpp
Labels: Bug

#1336 xrRender: optimize using reserve and set render_sun as const method
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_sun_support.h
  src/Layers/xrRender_R2/render_phase_sun.cpp
  src/Layers/xrRender_R2/render_phase_sun_old.cpp
Labels: Enhancement, Renderer

#1500 * FIX: [Engine] cast to u8 is intentional; fix broken interactive grass
  src/Layers/xrRenderPC_R2/r2_shaders.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
Labels: Renderer

#1504 Optimize generate_story_ids using reserve and refactor function code
  src/xrGame/alife_simulator_script.cpp
Labels: Enhancement, Performance

#1512 xrCore: Fix spurious assertion failures in `FS::FileDownload` for linux
  src/xrCore/FS.cpp
Labels: Bug, Portability, Code Quality, Linux

#1492 Let the compiler assume that `VERIFY` expressions are true in release builds
  src/xrAICore/Navigation/PatrolPath/patrol_point_inline.h
  src/xrCore/xrDebug_macros.h
  src/xrEngine/xr_collide_form.cpp
  src/xrEngine/xr_object_list.cpp
  src/xrGame/Actor_Network.cpp
  src/xrGame/Car.cpp
  src/xrGame/CarCameras.cpp
  src/xrGame/DestroyablePhysicsObject.cpp
  src/xrGame/GameObject.cpp
  src/xrGame/Level_Bullet_Manager.cpp
  src/xrGame/Level_network.cpp
  src/xrGame/PHDestroyable.cpp
  src/xrGame/attachable_item.cpp
  src/xrGame/attachable_item_inline.h
  src/xrGame/ik/IKLimb.cpp
  src/xrGame/moving_objects.cpp
  src/xrGame/xrServer.cpp
  src/xrGame/xrServer_process_event.cpp
  src/xrUICore/XML/UIXmlInitBase.cpp
Labels: Enhancement, AI, UI

#1520 GitHub Actions: Allow dependabot to update GitHub actions
  .github/dependabot.yml
Labels: Infrastructure

#1526 Make player hud tuner slightly more usable
  src/xrEngine/FDemoRecord.cpp
  src/xrGame/player_hud_tune.cpp
Labels: Enhancement, Modmaker Experience

#1530 xrCore: Mark functions as `[[noreturn]]`
  src/xrCore/xrDebug.cpp
  src/xrCore/xrDebug.h
Labels: Enhancement, Code Quality

#1515 Increase robustness of `XMLDocument` parser
  src/xrCore/FS.cpp
  src/xrCore/FS.h
  src/xrCore/XML/XMLDocument.cpp
  src/xrCore/XML/tinyxmlparser.cpp
Labels: Enhancement, Code Quality, Modmaker Experience

#1534 Fix for parallel objects update
  src/xrEngine/CMakeLists.txt
  src/xrEngine/xrEngine.vcxproj
  src/xrEngine/xrEngine.vcxproj.filters
  src/xrEngine/xr_object.cpp
  src/xrEngine/xr_object_list.cpp
  src/xrEngine/xr_object_list.h
  src/xrGame/GameObject.cpp
  src/xrGame/GameObject.h
  src/xrGame/ai/crow/ai_crow.cpp
  src/xrGame/ai/crow/ai_crow.h
Labels: AI, ready to merge

#1544 Ignore more variations of build directories
  .gitignore
Labels: Developer Experience

#1548 * FIX: [Engine] add new_shader_support to r2 _options so it persists properly
  src/Layers/xrRender/xrRender_console.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
Labels: Renderer

#1498 Fix `Wimplicit-fallthrough` warnings (#713)
  src/utils/xrQSlim/MxPropSlim.cpp
  src/utils/xrQSlim/MxQSlim.cpp
  src/xrCDB/Frustum.cpp
  src/xrCore/XML/tinyxmlparser.cpp
  src/xrPhysics/PHJoint.cpp
Labels: Physics

#1523 Generalize bug fix from #1512
  src/Common/PlatformLinux.inl
  src/Common/PlatformWindows.inl
  src/xrCore/FS.cpp
  src/xrCore/LocatorAPI.cpp
Labels: Enhancement, Portability, Code Quality, Developer Experience

#1550 * REFACTOR: [Engine] Use options.new_shader_support, removed ssfx specific flags
  src/Layers/xrRender/ResourceManager.cpp
  src/Layers/xrRender/blenders/Blender_tree_deferred.cpp
  src/Layers/xrRender/dxRainRender.cpp
  src/Layers/xrRender/dxWallMarkArray.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_combine.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/render_phase_sun.cpp
Labels: Renderer
