Repository OpenXRay/xray-16, pull requests merged in 2023-04, with the labels that each got.

#1282 constexprify variables in the code
  src/Layers/xrRender/D3DUtils.cpp
  src/Layers/xrRender/dxEnvironmentRender.cpp
  src/Layers/xrRenderGL/glTextureUtils.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_build_textures.cpp
  src/Layers/xrRender_R2/r2_rendertarget.cpp
Labels: Code Quality

#1286 Added default sdk and deployment version environmental variables. (closes #1135)
  .github/workflows/cibuild.yml
  Externals/LuaJIT-proj/luajit.cmake
Labels: Infrastructure, Build issue

#1287 Rewrite old functor predicate to lambda expressions
  src/xrCDB/xrCDB_Collector.cpp
  src/xrEngine/IGame_Persistent.cpp
  src/xrEngine/profiler.cpp
  src/xrGame/ai/monsters/monster_event_manager.cpp
  src/xrGame/ai/monsters/monster_event_manager.h
  src/xrGame/game_sv_item_respawner.cpp
  src/xrGame/game_sv_item_respawner.h
  src/xrGame/xrServer_info.cpp
Labels: Code Quality

#1292 [Feature] optional console command to normalize mouse sens for weapons and upgrades
  src/xrGame/console_commands.cpp
  src/xrGame/inventory_item.cpp
  src/xrGame/inventory_item_upgrade.cpp
Labels: Gameplay, Player Experience

#1291 Update detail height when using vid_restart
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRender_R2/r2.cpp
Labels: Bug, Renderer, Code Quality

#1300 xrRender_R4: RenderDoc integration
  Externals/renderdoc/renderdoc_app.h
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/ShaderResourceTraits.h
  src/Layers/xrRenderDX11/dx11ConstantBuffer.cpp
  src/Layers/xrRenderDX11/dx11SH_RT.cpp
  src/Layers/xrRenderDX11/dx11SH_Texture.cpp
  src/Layers/xrRenderPC_R4/r4_shaders.cpp
Labels: Enhancement, Developer Experience

#1297 Removed inappropriate effects for EFX on default sounds.
  src/xrSound/SoundRender_EffectsA_EFX.cpp
  src/xrSound/SoundRender_EffectsA_EFX.h
  src/xrSound/SoundRender_Environment.cpp
  src/xrSound/SoundRender_Environment.h
Labels: Sound

#1301 xrRender: decoupled DSGraph
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/FProgressive.cpp
  src/Layers/xrRender/FVisual.cpp
  src/Layers/xrRender/LightTrack.cpp
  src/Layers/xrRender/WallmarksEngine.cpp
  src/Layers/xrRender/light_smapvis.cpp
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRender/r__dsgraph_render_lods.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRenderPC_GL/gl_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R1/FStaticRender_RenderTarget.cpp
  src/Layers/xrRenderPC_R1/LightPPA.cpp
  src/Layers/xrRenderPC_R1/LightProjector.cpp
  src/Layers/xrRenderPC_R2/r2_rendertarget_phase_combine.cpp
  src/Layers/xrRenderPC_R4/r4_rendertarget_phase_combine.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/xrEngine/Render.h
Labels: Enhancement, ready to merge, Code Quality

#1304 xrRender_R1: fix for crash on initialization
  src/Layers/xrRender/dxEnvironmentRender.cpp
Labels: Bug

#1306 xrRender: sector/portals incapsulated in `dsgraph`
  src/Layers/xrRender/D3DXRenderBase.cpp
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/light.cpp
  src/Layers/xrRender/light_gi.cpp
  src/Layers/xrRender/light_gi.h
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRender/r__sector.cpp
  src/Layers/xrRender/r__sector.h
  src/Layers/xrRender/r__sector_detect.cpp
  src/Layers/xrRender/r__sector_traversal.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R1/LightPPA.cpp
  src/Layers/xrRenderPC_R1/LightProjector.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/xrCDB/ISpatial.cpp
  src/xrCDB/ISpatial.h
  src/xrCore/FixedVector.h
  src/xrEngine/IGame_Persistent.h
  src/xrEngine/Render.h
  src/xrEngine/xr_object.h
  src/xrGame/GameObject.h
  src/xrGame/GamePersistent.cpp
  src/xrGame/GamePersistent.h
  src/xrGame/ParticlesObject.cpp
  src/xrGame/ParticlesObject.h
  src/xrGame/UIZoneMap.cpp
  src/xrGame/UIZoneMap.h
  src/xrGame/ui/UIMainIngameWnd.cpp
  src/xrGame/ui/UIMainIngameWnd.h
Labels: Renderer

#1305 Convert path separators when saving imgui config
  src/Common/PlatformApple.inl
  src/Common/PlatformBSD.inl
  src/Common/PlatformLinux.inl
  src/Common/PlatformWindows.inl
  src/xrEngine/editor_base.cpp
Labels: Bug, Linux

#1308 xrRender: bit more independency for scene traversal structure
  src/Layers/xrRender/HOM.h
  src/Layers/xrRender/light_gi.cpp
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRender/r__sector.h
  src/Layers/xrRender/r__sector_detect.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/FStaticRender_Loader.cpp
  src/Layers/xrRenderPC_R1/LightPPA.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/xrCDB/ISpatial.cpp
  src/xrEngine/Render.h
Labels: ready to merge

#1171 Removed excess fields that are shadowing parent class fields
  src/xrGame/sight_control_action.h
  src/xrGame/sight_manager.h
Labels: Bug, Code Quality

#1309 xrRender: unified scene graph traversal
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/LightPPA.cpp
  src/Layers/xrRender_R2/r2.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/r3_R_rain.cpp
  src/xrEngine/Render.h
Labels: Renderer, ready to merge

#1311 xrRender: `detectSector` moved into dsgraph
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__dsgraph_structure.h
  src/Layers/xrRender/r__sector_detect.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.h
  src/Layers/xrRenderPC_R1/LightProjector.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/xrCDB/ISpatial.cpp
  src/xrCDB/ISpatial.h
  src/xrEngine/Render.h
Labels: Renderer, ready to merge

#1312 Re-fix resource linking
  CMakeLists.txt
  src/xrCore/LocatorAPI.cpp
Labels: Bug, Portability

#1319 xrRender: MT: Fix for contexts leaking; some logic improvements
  src/Layers/xrRender/D3DXRenderBase.h
  src/Layers/xrRender/ParticleGroup.cpp
  src/Layers/xrRender/ParticleGroup.h
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRender_R2/r2.h
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/Layers/xrRender_R2/r2_R_sun.cpp
  src/Layers/xrRender_R2/r3_R_rain.cpp
Labels: Renderer, ready to merge

#863 Fix new-delete and malloc-free mismatches found by ASAN
  CMakeLists.txt
  Externals/LuaJIT-proj/luajit.cmake
  Externals/OPCODE/OPC_Model.cpp
  src/Layers/xrRender/NvTriStripObjects.h
  src/Layers/xrRender/SH_Texture.h
  src/Layers/xrRenderGL/glSH_Texture.cpp
  src/utils/ETools/DLink.h
  src/utils/xrDXT/NormalMapGen.cpp
  src/utils/xrLC/nv_library/NvTriStripObjects.h
  src/xrCDB/xrCDB.cpp
  src/xrCommon/xr_smart_pointers.h
  src/xrCore/LocatorAPI.cpp
  src/xrCore/Memory/xrMemory_align.h
  src/xrCore/Threading/Lock.cpp
  src/xrCore/XML/tinyxml.cpp
  src/xrCore/XML/tinyxmlparser.cpp
  src/xrCore/xrMemory.cpp
  src/xrCore/xrMemory.h
  src/xrEngine/Device_mode.cpp
  src/xrEngine/PS_instance.cpp
  src/xrEngine/PS_instance.h
  src/xrEngine/StringTable/StringTable.cpp
  src/xrEngine/thunderbolt.cpp
  src/xrGame/GamePersistent.cpp
  src/xrGame/MainMenu.cpp
  src/xrGame/game_sv_event_queue.cpp
  src/xrGame/ik/aint.cxx
  src/xrGame/ik/aint.h
  src/xrGame/steering_behaviour.cpp
  src/xrGame/steering_behaviour.h
  src/xrGame/ui/UIMap.cpp
  src/xrGame/xrGame.cpp
  src/xrNetServer/NET_Common.cpp
  src/xrNetServer/NET_Compressor.cpp
  src/xrNetServer/empty/NET_Client.cpp
  src/xrNetServer/empty/NET_Server.cpp
  src/xrScriptEngine/script_engine.cpp
  src/xrScriptEngine/script_process.hpp
  src/xrScriptEngine/script_thread.hpp
  src/xrServerEntities/script_token_list.cpp
  src/xrSound/OpenALDeviceList.cpp
  src/xrUICore/Windows/UIWindow.cpp
  src/xr_3da/entry_point.cpp
Labels: Bug, Renderer, Sound, UI, Code Quality, External (3rd party)

#1322 xrRender: sun renders refactor
  src/Layers/xrRenderPC_GL/CMakeLists.txt
  src/Layers/xrRenderPC_GL/gl_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_GL/r2_R_sun.cpp
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj
  src/Layers/xrRenderPC_GL/xrRender_GL.vcxproj.filters
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj
  src/Layers/xrRenderPC_R2/xrRender_R2.vcxproj.filters
  src/Layers/xrRenderPC_R4/r4_rendertarget_accum_direct.cpp
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj
  src/Layers/xrRenderPC_R4/xrRender_R4.vcxproj.filters
  src/Layers/xrRender_R2/r2_R_calculate.cpp
  src/Layers/xrRender_R2/r2_R_sun_support.h
  src/Layers/xrRender_R2/render_phase_sun.cpp
  src/Layers/xrRender_R2/render_phase_sun_old.cpp
Labels: Renderer
