Repository OpenXRay/xray-16, pull requests merged in 2023-03, with the labels that each got.

#1268 Physics v2v3v4
  Externals/ode/config/msvcdefs.def
  Externals/ode/include/ode/objects.h
  Externals/ode/ode/src/objects.h
  Externals/ode/ode/src/ode.cpp
  Externals/ode/ode/src/quickstep.cpp
  Externals/ode/ode/src/step.cpp
  src/xrPhysics/PHElement.cpp
  src/xrPhysics/PHSimpleCharacter.cpp
Labels: Physics

#1231 Improved EFX support
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_EffectsA_EFX.cpp
  src/xrSound/SoundRender_EffectsA_EFX.h
  src/xrSound/SoundRender_Environment.cpp
  src/xrSound/SoundRender_Environment.h
Labels: Bug, Enhancement, Sound, ready to merge

#1191 Layers/xrRender/ParticleGroup.h: use C++11 to initialize elements in the constructor
  src/Layers/xrRender/ParticleGroup.cpp
  src/Layers/xrRender/ParticleGroup.h
Labels: Code Quality

#1198 xrGame/ai_stalker_alife.cpp: use range-based for and emplace_back
  src/xrGame/ai_stalker_alife.cpp
Labels: Code Quality

#1214 Rewrite predicate functions to modern C++11 lambda expressions
  src/Layers/xrRender/HOM.cpp
  src/Layers/xrRender/LightTrack.cpp
  src/Layers/xrRender/Light_Package.cpp
  src/Layers/xrRender/PSLibrary.cpp
  src/Layers/xrRender/ParticleGroup.cpp
  src/Layers/xrRender/SkeletonCustom.cpp
  src/Layers/xrRender/r__dsgraph_render_lods.cpp
  src/Layers/xrRender/r__sector_traversal.cpp
  src/Layers/xrRender/r_constants.cpp
  src/Layers/xrRenderPC_R1/FStaticRender.cpp
  src/Layers/xrRender_R2/r2_R_lights.cpp
  src/Layers/xrRender_R2/r2_R_render.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrEngine/xr_collide_form.cpp
Labels: Enhancement, Code Quality

#1176 Replaced own clamp funcs to native C++17 std::clamp and add noexcept
  src/xrCommon/math_funcs_inline.h
Labels: Code Quality

#1209 Small fixes while inspecting the compiler warnings.
  src/xrAICore/Navigation/level_graph.h
  src/xrAICore/Navigation/level_graph_inline.h
  src/xrCore/Compression/SubAlloc.hpp
  src/xrGame/ai/monsters/ai_monster_squad_attack.cpp
  src/xrGame/ai/monsters/basemonster/base_monster_startup.cpp
  src/xrGame/ammunition_groups.h
  src/xrGame/artefact_activation.h
  src/xrGame/bone_groups.h
  src/xrGame/cta_game_artefact_activation.h
  src/xrGame/eatable_item.cpp
  src/xrGame/pp_effector_custom.h
  src/xrGame/rat_states.cpp
  src/xrSound/Sound.h
  src/xrSound/SoundRender_Emitter.h
  src/xrSound/SoundRender_Source.h
Labels: Code Quality

#1091 Fixed: using %c[color] tag with multibyte font causing unexpected line ending
  src/xrUICore/Lines/UILines.cpp
Labels: Bug, UI

#1272 Fix sound being cut-off when EAX/EFX is on (#1272, closes #1271)
  src/xrSound/SoundRender_EffectsA_EFX.cpp
Labels: Bug, Sound

#1218 xrGame/UIActorMenuInitialize.cpp: update conditions for initialize slot for backpacks
  src/xrGame/ui/UIActorMenuInitialize.cpp
Labels: Enhancement, Gameplay, Modmaker Experience

#1277 GitHub Actions: update Ubuntu configuration
  .github/workflows/cibuild.yml
Labels: Infrastructure

#1252 Fix shadows on macOS
  res/gamedata/shaders/gl/gather.ps
Labels: Bug, Renderer

#1114 Ability to interact with UI style system from scripts
  src/xrGame/GamePersistent.cpp
  src/xrGame/console_commands.cpp
  src/xrGame/xrGame.cpp
  src/xrUICore/CMakeLists.txt
  src/xrUICore/Windows/UIWindow_script.cpp
  src/xrUICore/ui_base.h
  src/xrUICore/ui_styles.cpp
  src/xrUICore/ui_styles.h
  src/xrUICore/xrUICore.vcxproj
  src/xrUICore/xrUICore.vcxproj.filters
Labels: Enhancement, UI, Lua, Modmaker Experience

#1150 Added console command: spawn to inventory
  src/xrGame/console_commands.cpp
Labels: Enhancement, Player Experience, Modmaker Experience, good first issue
