Repository OpenXRay/xray-16, pull requests merged in 2023-01, with the labels that each got.

#1202 Little fixes & Additions to UI.
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/ui/UIArtefactPanel.cpp
  src/xrGame/ui/UIArtefactPanel.h
Labels: Enhancement, UI, Modmaker Experience

#1207 Virtual function shedule_Scale() and CParticlesObject::Position() must be const
  src/xrEngine/ISheduled.h
  src/xrGame/GameObject.h
  src/xrGame/ParticlesObject.cpp
  src/xrGame/ParticlesObject.h
  src/xrGame/agent_manager.cpp
  src/xrGame/agent_manager.h
  src/xrGame/ai/stalker/ai_stalker.cpp
  src/xrGame/ai/stalker/ai_stalker.h
  src/xrGame/alife_update_manager.cpp
  src/xrGame/alife_update_manager.h
  src/xrGame/autosave_manager.cpp
  src/xrGame/autosave_manager.h
  src/xrGame/base_client_classes_wrappers.h
  src/xrGame/configs_dumper.h
  src/xrGame/game_cl_base.h
  src/xrGame/profile_store.h
  src/xrGame/screenshot_manager.h
  src/xrGame/stats_submitter.h
  src/xrGame/vision_client.cpp
  src/xrGame/vision_client.h
Labels: Code Quality

#1217 Implemented stacktrace for *BSD
  src/xrCore/CMakeLists.txt
  src/xrCore/xrDebug.cpp
Labels: Enhancement, Core, *BSD

#1219 Switch to ARM-Graviton2 on Travis
  .travis.yml
Labels: Enhancement, Infrastructure

#1221 Cleaned up .travis.yml
  .travis.yml
Labels: Enhancement, Infrastructure

#1206 Fix that allows the cmake file to find libtheora correctly instead of…
  cmake/FindTheora.cmake
Labels: Portability, Build issue

#1225 Error checking for texture loading to fix green video (647) close for Linux.
  src/Layers/xrRenderGL/glTexture.cpp
Labels: Bug, Renderer, Linux

#1233 Added cubemap loading to texture storage
  src/Layers/xrRenderGL/glTexture.cpp
Labels: Enhancement, Renderer

#1237 UIActorMenu_script.cpp: extend actor menu lua methods [CoC]
  src/xrGame/ui/UIActorMenu.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenu_script.cpp
  src/xrGame/ui/UIPdaWnd.cpp
  src/xrGame/ui/UIPdaWnd.h
Labels: Enhancement, Lua, Modmaker Experience

#1238 Export the addon_flag enum [CoC]
  src/xrServerEntities/xrServer_Objects_ALife_Items_script.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1239 Extends Lua methods for characters [CoC]
  src/xrServerEntities/xrServer_Objects_ALife_Monsters.cpp
  src/xrServerEntities/xrServer_Objects_ALife_Monsters.h
  src/xrServerEntities/xrServer_Objects_ALife_Monsters_script.cpp
Labels: Enhancement, Lua, Modmaker Experience
