Repository OpenXRay/xray-16, pull requests merged in 2023-12, with the labels that each got.

#1506 Allow engine to run with no sound devices available
  src/xrGame/GamePersistent.cpp
  src/xrGame/script_sound.cpp
  src/xrGame/ui/UIGameTutorial.cpp
  src/xrGame/ui/UIGameTutorialSimpleItem.cpp
  src/xrGame/ui/UIGameTutorialVideoItem.cpp
  src/xrSound/Sound.cpp
  src/xrSound/Sound.h
  src/xrSound/SoundRender_CoreA.cpp
Labels: Enhancement, Sound, UI, Player Experience, Vanilla Bug, good first issue

#1574 Fixed PIX_EVENT on non-msvc compilers.
  src/Layers/xrRender/Debug/dxPixEventWrapper.h
Labels: Enhancement, Build issue

#1559 Update read window title from configs/openxray.ltx
  src/xrEngine/Device_Initialize.cpp
Labels: Bug

#1556 xrGame: Fix buffer overflow in `ParseControlString`
  src/xrGame/console_commands_mp.cpp
Labels: Bug, Code Quality
