Repository OpenXRay/xray-16, pull requests merged in 2023-09, with the labels that each got.

#1414 [Feature]: Wildcard animation omf loading
  src/Layers/xrRender/SkeletonAnimated.cpp
  src/xrEngine/xr_ioc_cmd.cpp
  src/xrGame/player_hud.cpp
Labels: Renderer

#1167 Add time dilation when opening inventory and PDA (#1167, powered by Plotja))
  src/xrGame/ActorCondition.cpp
  src/xrGame/CMakeLists.txt
  src/xrGame/UIGameSP.cpp
  src/xrGame/UIGameSP.h
  src/xrGame/UITimeDilator.cpp
  src/xrGame/UITimeDilator.h
  src/xrGame/console_commands.cpp
  src/xrGame/level_sounds.cpp
  src/xrGame/map_spot.cpp
  src/xrGame/ui/UIActorMenu.cpp
  src/xrGame/ui/UIActorMenu_action.cpp
  src/xrGame/ui/UIFactionWarWnd.cpp
  src/xrGame/ui/UIGameTutorial.h
  src/xrGame/ui/UIGameTutorialSimpleItem.cpp
  src/xrGame/ui/UIMap.cpp
  src/xrGame/ui/UIMapWndActions.cpp
  src/xrGame/ui/UISecondTaskWnd.cpp
  src/xrGame/ui/UITaskWnd.cpp
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
  src/xrSound/Sound.h
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_Core.h
  src/xrSound/SoundRender_Core_Processor.cpp
  src/xrSound/SoundRender_Emitter.cpp
  src/xrSound/SoundRender_Emitter.h
  src/xrSound/SoundRender_Emitter_FSM.cpp
  src/xrSound/SoundRender_Emitter_StartStop.cpp
  src/xrSound/SoundRender_TargetA.cpp
  src/xrUICore/Buttons/UIButton.cpp
  src/xrUICore/Hint/UIHint.cpp
  src/xrUICore/ProgressBar/UIProgressBar.cpp
  src/xrUICore/Static/UIStatic.cpp
Labels: Enhancement, Gameplay, Sound, UI, Player Experience

#1443 Fixed disappearing of "load_last_save" button
  src/xrGame/alife_storage_manager.cpp
Labels: Bug, Player Experience

#1404 Prevent weaponhide/kill/input disable on blowout end if godmode is on
  src/xrGame/level_script.cpp
  src/xrGame/script_game_object_use.cpp
Labels: Enhancement, Modmaker Experience
