Repository OpenXRay/xray-16, pull requests merged in 2023-10, with the labels that each got.

#1337 [Feature]: #1992 Add top, right, bottom, left alignment for CUIStatic
  src/xrUICore/XML/UIXmlInitBase.cpp
  src/xrUICore/uiabstract.h
Labels: UI

#1369 Fixed first shot freeze on weapons, optimize memory usage
  src/xrGame/CarWeapon.cpp
  src/xrGame/Helicopter.cpp
  src/xrGame/Weapon.cpp
  src/xrGame/WeaponStatMgun.cpp
Labels: Enhancement, Performance

#1401 [Feature] Adding ini_file luabind constructor override.
  src/xrServerEntities/script_ini_file.cpp
  src/xrServerEntities/script_ini_file.h
  src/xrServerEntities/script_ini_file_script.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1462 [Feature] Adding `isNewGame` parameter for start game callback
  src/xrGame/alife_simulator.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1455 Fix Debug Master Gold compilation
  src/xrEngine/ISheduled.cpp
  src/xrEngine/xrSheduler.cpp
  src/xrGame/CustomMonster.cpp
  src/xrGame/ai/stalker/ai_stalker.cpp
  src/xrGame/ai_debug.h
  src/xrGame/script_property_evaluator_wrapper.cpp
  src/xrGame/stalker_movement_manager_base.h
Labels: AI, Build issue

#1463 [Feature] Extending `upgrade` api for scripting, correct some upgrading logics
  src/xrGame/ExplosiveRocket.cpp
  src/xrGame/WeaponMagazinedWGrenade.cpp
  src/xrGame/WeaponMagazinedWGrenade.h
  src/xrGame/inventory_item.cpp
  src/xrGame/inventory_item.h
  src/xrGame/inventory_item_object.cpp
  src/xrGame/inventory_item_upgrade.cpp
  src/xrGame/inventory_upgrade.cpp
  src/xrGame/inventory_upgrade.h
  src/xrGame/inventory_upgrade_manager.cpp
  src/xrGame/inventory_upgrade_manager.h
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object_inventory_owner.cpp
  src/xrGame/script_game_object_script3.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1426 Fix build warnings in src/xrEngine
  src/xrEngine/Device_create.cpp
  src/xrEngine/Device_mode.cpp
  src/xrEngine/Environment_misc.cpp
  src/xrEngine/FDemoRecord.cpp
  src/xrEngine/IGame_Level_check_textures.cpp
  src/xrEngine/PS_instance.cpp
  src/xrEngine/Stats.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrEngine/device.cpp
  src/xrEngine/device.h
  src/xrEngine/edit_actions.cpp
  src/xrEngine/editor_weather.cpp
  src/xrEngine/line_edit_control.cpp
  src/xrEngine/perlin.cpp
  src/xrEngine/perlin.h
  src/xrEngine/xrTheora_Stream.cpp
  src/xrEngine/xr_collide_form.cpp
  src/xrEngine/xr_collide_form.h
  src/xrEngine/xr_input.cpp
  src/xrEngine/xr_ioc_cmd.h
  src/xrEngine/xr_level_controller.cpp
Labels: Code Quality

#1427 Fix build warnings in src/xrUICore
  src/xrUICore/Buttons/UIButton.cpp
  src/xrUICore/Buttons/UIButton.h
  src/xrUICore/Cursor/UICursor.cpp
  src/xrUICore/Cursor/UICursor.h
  src/xrUICore/EditBox/UICustomEdit.h
  src/xrUICore/Lines/UILines.cpp
  src/xrUICore/ListBox/UIListBox.cpp
  src/xrUICore/ListWnd/UIListWnd.cpp
  src/xrUICore/MessageBox/UIMessageBox.cpp
  src/xrUICore/MessageBox/UIMessageBox.h
  src/xrUICore/PropertiesBox/UIPropertiesBox_script.cpp
  src/xrUICore/ScrollBar/UIFixedScrollBar.cpp
  src/xrUICore/ScrollBar/UIScrollBar.cpp
  src/xrUICore/ScrollView/UIScrollView.cpp
  src/xrUICore/SpinBox/UISpinNum.cpp
  src/xrUICore/SpinBox/UISpinNum.h
  src/xrUICore/Static/UIAnimatedStatic.cpp
  src/xrUICore/Static/UIAnimatedStatic.h
  src/xrUICore/Static/UIStatic.cpp
  src/xrUICore/Static/UIStatic.h
  src/xrUICore/TabControl/UITabControl.cpp
  src/xrUICore/TabControl/UITabControl.h
  src/xrUICore/TrackBar/UITrackBar.cpp
  src/xrUICore/Windows/UIWindow.cpp
  src/xrUICore/Windows/UIWindow.h
  src/xrUICore/ui_styles.cpp
Labels: UI, Code Quality

#1465 Fix LuaJIT not passing cmake generator correctly
  Externals/LuaJIT-proj/luajit.cmake
Labels: Enhancement, Portability, External (3rd party)

#1467 Improve vscode tasks
  .vscode/tasks.json
Labels: Enhancement

#1466 Fix memory leak in `CCC_DebugFonts`
  src/xrGame/console_commands.cpp
Labels: Bug, Enhancement

#1470 xrGame: Fix undelegated constructor for `FractionState`
  src/xrGame/ui/FractionState.cpp
Labels: UI

#1469 Fix array of size 7 only getting assigned 6 elements due to a missing comma
  src/xrGame/ui/UIMainIngameWnd.cpp
Labels: Bug, UI

#1468 xrGame: Fix potential null dereference in `SpawnPlayer`
  src/xrGame/game_sv_mp_script.cpp
Labels: Bug, Code Quality

#1478 xrCore: Fix undefined behavior passing `nullptr` to `dlclose` in `ModuleLookup::Close()`
  src/xrCore/ModuleLookup.cpp
Labels: Bug, Code Quality

#1476 xrCore: Fix null pointer dereference in `std::hash<shared_str>`
  src/xrCore/xrstring.h
Labels: Bug, Code Quality, good first issue

#1471 xrGame: Remove unused private fields (#1471) [skip ci]
  src/xrGame/EffectorBobbing.h
  src/xrGame/ai/monsters/bloodsucker/bloodsucker_alien.cpp
Labels: Enhancement, AI, good first issue

#1480 GitHub Actions: Add workflow to check file encoding
  .github/workflows/stylecheck.yml
Labels: Infrastructure, Developer Experience

#1472 Add option to enable link-time-optimizations (LTO)
  CMakeLists.txt
Labels: Enhancement, Performance

#1484 Fix several cases of uninitialized values that were used and caused undefined behavior
  src/xrAICore/Navigation/PathManagers/path_manager_game_vertex.h
  src/xrGame/WeaponMagazined.cpp
  src/xrGame/movement_manager.cpp
  src/xrGame/obstacles_query_inline.h
  src/xrGame/stalker_animation_manager.cpp
  src/xrGame/stalker_animation_manager.h
  src/xrPhysics/PHSimpleCharacter.cpp
  src/xrServerEntities/xrServer_Objects_ALife.cpp
Labels: Bug, AI, Physics, Code Quality

#1486 Fix `Wunused-variable` warnings (#713)
  src/utils/xrQSlim/MxQSlim.cpp
  src/utils/xrQSlim/MxStdModel.cpp
  src/xrAICore/Navigation/PatrolPath/patrol_path_storage.cpp
  src/xrAICore/Navigation/graph_vertex_inline.h
  src/xrEngine/Rain.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/xrSheduler.cpp
  src/xrGame/Actor.cpp
  src/xrGame/ActorAnimation.cpp
  src/xrGame/ContextMenu.cpp
  src/xrGame/LevelGraphDebugRender.cpp
  src/xrGame/Level_input.cpp
  src/xrGame/Level_network.cpp
  src/xrGame/MainMenu.cpp
  src/xrGame/PHMovementControl.cpp
  src/xrGame/Tracer.cpp
  src/xrGame/UIDialogHolder.cpp
  src/xrGame/ai/monsters/anim_triple.cpp
  src/xrGame/ai/monsters/bloodsucker/bloodsucker.cpp
  src/xrGame/ai/monsters/control_animation_base_update.cpp
  src/xrGame/ai/stalker/ai_stalker_debug.cpp
  src/xrGame/ai/stalker/ai_stalker_fire.cpp
  src/xrGame/ik/IKLimb.cpp
  src/xrGame/movement_manager.cpp
  src/xrGame/profile_store.cpp
  src/xrGame/space_restriction.cpp
  src/xrGame/stalker_animation_legs.cpp
  src/xrGame/ui/UIMap.cpp
  src/xrNetServer/empty/NET_Client.cpp
  src/xrNetServer/empty/NET_Server.cpp
  src/xrPhysics/ElevatorState.cpp
  src/xrPhysics/PHElement.cpp
  src/xrPhysics/PHShellSplitter.cpp
  src/xrPhysics/PHSimpleCharacter.cpp
  src/xrPhysics/PhysicsShell.cpp
  src/xrPhysics/PhysicsShellAnimator.cpp
  src/xrScriptEngine/script_engine.cpp
  src/xrScriptEngine/script_lua_helper.cpp
  src/xrSound/OpenALDeviceList.cpp
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_CoreA.cpp
  src/xrSound/SoundRender_Core_SourceManager.cpp
  src/xrSound/SoundRender_TargetA.cpp
  src/xrUICore/ListWnd/UIListWnd.cpp
Labels: AI, Sound, UI, Physics, Code Quality

#1475 xrEngine: Merge CRenderDeviceData into CRenderDevice
  src/xrEngine/Device_create.cpp
  src/xrEngine/Device_destroy.cpp
  src/xrEngine/device.cpp
  src/xrEngine/device.h
Labels: Enhancement, good first issue

#1490 Fixed red color of NPC icon in trade/upgrade window after deadbody searching
  src/xrGame/ui/UICharacterInfo.cpp
Labels: UI
