Repository OpenXRay/xray-16, pull requests merged in 2024-02, with the labels that each got.

#1598 Fixed build under macOS 13 and higher
  .github/workflows/cibuild.yml
  Externals/LuaJIT-proj/CMakeLists.txt
Labels: Enhancement, Infrastructure, Build issue

#1599 Common: Moved d3d9 specific types to d3d9compat.hpp
  Externals/ode/CMakeLists.txt
  Externals/ode/include/ode/odemath.h
  src/Common/Common.vcxproj
  src/Common/Common.vcxproj.filters
  src/Common/PlatformApple.inl
  src/Common/PlatformBSD.inl
  src/Common/PlatformLinux.inl
  src/Common/d3d9compat.hpp
  src/Layers/xrRenderGL/CommonTypes.h
  src/Layers/xrRenderGL/glHW.cpp
  src/Layers/xrRenderPC_GL/gl_rendertarget_build_textures.cpp
  src/utils/ETools/ETools.h
  src/utils/xrLC_Light/xrIsect.h
  src/xrCDB/xrCDB.h
  src/xrCore/Compression/rt_compressor.cpp
  src/xrCore/Compression/rt_compressor9.cpp
  src/xrCore/FileSystem_borland.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrGame/console_commands.cpp
  src/xrScriptEngine/LuaStudio/Backend/Backend.hpp
  src/xrScriptEngine/LuaStudio/Backend/Engine.hpp
  src/xrScriptEngine/LuaStudio/Backend/World.hpp
  src/xrScriptEngine/LuaStudio/Config.hpp
  src/xrScriptEngine/LuaStudio/Defines.hpp
Labels: Core, Portability, Infrastructure, Linux, macOS, *BSD

#1557 Fix incorrect format specifiers (#173)
  src/xrCore/Animation/SkeletonMotions.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrCore/xrMemory.cpp
  src/xrGame/configs_dumper.cpp
Labels: Enhancement, Code Quality

#1604 GitHub Actions: fix spurious failures on *BSD
  .github/workflows/cibuild.yml
Labels: Enhancement, Infrastructure, Developer Experience, *BSD

#1609 [FIX] Fix r5 hbao variable re-declaration.
  res/gamedata/shaders/r5/ssao_hbao.ps
Labels: Bug, Game assets

#1617 GitHub Actions: Upgrade to the latest CPA with Linux hardware acceleration and FreeBSD 14.0
  .github/workflows/cibuild.yml
Labels: Enhancement, Infrastructure, Developer Experience

#1619 [FIX] possible crash with player hud tuner
  src/xrGame/player_hud_tune.cpp
Labels: Bug, Enhancement

#1618 [FEATURE] Add console command to disable lens flare
  src/xrEngine/xr_efflensflare.cpp
  src/xrEngine/xr_ioc_cmd.cpp
Labels: Enhancement, Environment (Weather), Player Experience
