Repository OpenXRay/xray-16, pull requests merged in 2024-06, with the labels that each got.

#1685 ImGui Hud Tuner
  src/Layers/xrRender/ParticleEffect.cpp
  src/Layers/xrRender/r__dsgraph_render.cpp
  src/xrEngine/device.h
  src/xrEngine/editor_base.h
  src/xrGame/ActorInput.cpp
  src/xrGame/CMakeLists.txt
  src/xrGame/GamePersistent.h
  src/xrGame/HudItem.cpp
  src/xrGame/HudItem.h
  src/xrGame/Missile.cpp
  src/xrGame/UIGameSP.cpp
  src/xrGame/Weapon.cpp
  src/xrGame/Weapon.h
  src/xrGame/attachable_item.cpp
  src/xrGame/player_hud.cpp
  src/xrGame/player_hud.h
  src/xrGame/player_hud_tune.cpp
  src/xrGame/player_hud_tune.h
  src/xrGame/xrGame.vcxproj
  src/xrGame/xrGame.vcxproj.filters
Labels: Enhancement, Renderer, ready to merge, Modmaker Experience

#1688 Improvements for ImGui Hud Tuner
  src/xrGame/player_hud_tune.cpp
Labels: Enhancement, ready to merge, Modmaker Experience

#1690 Restored mirroring of texture feature for `CUIStatic`
  src/xrUICore/Static/UIStaticItem.cpp
  src/xrUICore/Static/UIStaticItem.h
  src/xrUICore/XML/UIXmlInitBase.cpp
Labels: UI
