Repository OpenXRay/xray-16, pull requests merged in 2024-12, with the labels that each got.

#1742 Fixes for Trader
  src/xrGame/ai/trader/ai_trader.cpp
  src/xrGame/ai/trader/ai_trader.h
  src/xrGame/ai/trader/trader_animation.cpp
  src/xrGame/ai/trader/trader_animation.h
Labels: Enhancement, AI, Gameplay, Player Experience

#1744 Rewrite console rendering code to use ImGui
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/Threading/TaskManager.hpp
  src/xrEngine/CMakeLists.txt
  src/xrEngine/IGame_Persistent.cpp
  src/xrEngine/Text_Console.cpp
  src/xrEngine/XR_IOConsole.cpp
  src/xrEngine/XR_IOConsole.h
  src/xrEngine/XR_IOConsole_callback.cpp
  src/xrEngine/editor_base.cpp
  src/xrEngine/editor_base.h
  src/xrEngine/editor_base_input.cpp
  src/xrEngine/line_editor.cpp
  src/xrEngine/line_editor.h
  src/xrEngine/x_ray.cpp
  src/xrEngine/xrEngine.vcxproj
  src/xrEngine/xrEngine.vcxproj.filters
Labels: Enhancement, Player Experience, Modmaker Experience, good first issue

#1746 Support SOC PDA tab IDs (#392)
  src/xrGame/ui/UIPdaWnd.cpp
Labels: UI, Shadow of Chernobyl, good first issue

#1754 [LUA] Add `CALifeStorageManager_after_load` callback for consistency.
  src/xrGame/alife_storage_manager.cpp
Labels: Enhancement, Lua

#1747 SoC Weapon Fixes (#392)
  src/xrGame/Weapon.cpp
  src/xrGame/player_hud.cpp
Labels: Bug, Shadow of Chernobyl

#1541 Add keys and actions for PDA tab (CoC 1.5r7 support, #1529)
  src/xrEngine/key_binding_registrator_script.cpp
  src/xrEngine/xr_level_controller.cpp
  src/xrEngine/xr_level_controller.h
Labels: Enhancement, Modmaker Experience

#1610 [FEATURE] Add gamedata as lua modules root.
  src/xrScriptEngine/script_engine.cpp
Labels: Enhancement, Lua, Modmaker Experience

#1555 Added a checking bad phrase structure
  src/xrGame/PhraseDialog.cpp
Labels: Enhancement, Code Quality, Modmaker Experience
