Repository OpenXRay/xray-16, pull requests merged in 2024-04, with the labels that each got.

#1596 Fix SDL2::SDL2 target was not found (fixes #1595)
  CMakeLists.txt
Labels: Enhancement, Portability, Build issue

#1628 [xrCore] Getting rid of LPCSTR type
  src/xrCore/Animation/Motion.hpp
  src/xrCore/Animation/SkeletonMotions.cpp
  src/xrCore/Animation/SkeletonMotions.hpp
  src/xrCore/FS.cpp
  src/xrCore/FS.h
  src/xrCore/FileCRC32.cpp
  src/xrCore/FileCRC32.h
  src/xrCore/FileSystem.cpp
  src/xrCore/FileSystem.h
  src/xrCore/FileSystem_borland.cpp
  src/xrCore/LocatorAPI.cpp
  src/xrCore/LocatorAPI_defs.cpp
  src/xrCore/LocatorAPI_defs.h
  src/xrCore/NET_utils.cpp
  src/xrCore/PostProcess/PPInfo.cpp
  src/xrCore/PostProcess/PPInfo.hpp
  src/xrCore/PostProcess/PostProcess.cpp
  src/xrCore/PostProcess/PostProcess.hpp
  src/xrCore/Threading/Lock.cpp
  src/xrCore/Threading/Lock.hpp
  src/xrCore/_std_extensions.h
  src/xrCore/clsid.cpp
  src/xrCore/clsid.h
  src/xrCore/log.cpp
  src/xrCore/log.h
  src/xrCore/net_utils.h
  src/xrCore/xrDebug.cpp
  src/xrCore/xrDebug.h
Labels: Portability

#1538 Sanitize `UserName` and `CompName`
  src/xrCore/xrCore.cpp
Labels: Bug, Player Experience

#1635 Remove incorrect resolution scaling code
  src/Layers/xrRenderDX11/dx11HW.cpp
Labels: Renderer

#1594 Task manager enhancements
  src/xrCore/Threading/TaskManager.cpp
  src/xrCore/Threading/TaskManager.hpp
Labels: Enhancement, Core, Code Quality

#1659 Support compilation on NetBSD
  .github/workflows/cibuild.yml
  Externals/LuaJIT-proj/CMakeLists.txt
  Externals/imgui-proj/CMakeLists.txt
  Externals/ode/ode/src/util.h
  src/Common/PlatformApple.inl
  src/Common/PlatformBSD.inl
  src/Common/PlatformLinux.inl
  src/xrCore/CMakeLists.txt
  src/xrCore/Threading/ThreadUtil.cpp
  src/xrGame/sound_memory_manager.cpp
Labels: Enhancement, Portability, Infrastructure, Player Experience, External (3rd party)
