Repository OpenXRay/xray-16, pull requests merged in 2024-10, with the labels that each got.

#1718 AppVeyor: disable x86 Windows builds (it's still supported on Actions)
  appveyor.yml
Labels: Infrastructure

#1719 Details cache update optimization
  src/Layers/xrRender/DetailManager.cpp
  src/Layers/xrRender/DetailManager.h
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Renderer

#1721 Fixed mistakes in details cache optimization
  src/Layers/xrRender/DetailManager_CACHE.cpp
Labels: Bug, Renderer, Performance
