Repository OpenXRay/xray-16, pull requests merged in 2025-03, with the labels that each got.

#1811 CMake: silence all warnings for external libraries
  Externals/CMakeLists.txt
Labels: Enhancement, Developer Experience, External (3rd party)

#1812 xrGame: Bump duplicate phrase ids down to a warning instead of crashing
  src/xrGame/PhraseDialog.cpp
Labels: Modmaker Experience

#1822 No longer crash when writing to ini file if the section or line is missing
  src/xrServerEntities/script_ini_file.cpp
Labels: Call of Chernobyl

#1823 fix: `CSpaceRestrictionBase::m_correct` not being initialized
  src/xrGame/space_restriction_base.h
Labels: Code Quality

#1816 xrGame: Default initialize some variables in ActorCondition
  src/xrGame/ActorCondition.h
Labels: Code Quality

#1815 fix: `SMusicTrack::SetVolume` setting the final volume to either 0.0 or 1.0
  src/xrGame/level_sounds.cpp
Labels: Code Quality

#1813 Initialize `m_bIsHorizontal` in `CUIScrollBar`
  src/xrUICore/ScrollBar/UIScrollBar.h
Labels: UI, Code Quality

#1771 [LUA] Adding C++ profiler for lua scripts.
  res/gamedata/scripts/profiler.script
  src/xrGame/ai_space.cpp
  src/xrGame/console_commands.cpp
  src/xrScriptEngine/CMakeLists.txt
  src/xrScriptEngine/ScriptEngineScript.cpp
  src/xrScriptEngine/script_debugger.cpp
  src/xrScriptEngine/script_engine.cpp
  src/xrScriptEngine/script_engine.hpp
  src/xrScriptEngine/script_profiler.cpp
  src/xrScriptEngine/script_profiler.hpp
  src/xrScriptEngine/script_profiler_portions.hpp
  src/xrScriptEngine/xrScriptEngine.hpp
  src/xrScriptEngine/xrScriptEngine.vcxproj
  src/xrScriptEngine/xrScriptEngine.vcxproj.filters
Labels: Enhancement, SDK, Lua, Developer Experience, Modmaker Experience, Game assets

#1827 fix: `CSpaceRestrictionComposition::test_correctness` crashing when ignoring error
  src/xrGame/space_restriction_composition.cpp
Labels: Bug

#1833 Mark constants as `constexpr` to fix a linker error with GCC
  src/xrScriptEngine/script_profiler.hpp
Labels: Build issue

#1817 xrUICore: Cleanup `CUILines::GetColorFromText`
  src/xrUICore/Lines/UILines.cpp
Labels: Enhancement, UI, Code Quality
