Repository OpenXRay/xray-16, pull requests merged in 2025-02, with the labels that each got.

#1778 [LUA] Unlock usage of 'source' functionality with tracy profiler.
  Externals/tracy/public/tracy/TracyLua.hpp
Labels: Enhancement, Lua, Developer Experience, Modmaker Experience, External (3rd party)

#1020 Фитчи для разрушаемых объектов и их хитов
  src/xrGame/DestroyablePhysicsObject.cpp
  src/xrGame/DestroyablePhysicsObject.h
  src/xrGame/PHCollisionDamageReceiver.cpp
  src/xrGame/PHDestroyable.cpp
Labels: Enhancement, Modmaker Experience

#1787 Fix `XMLDocument` includes failing to parse if missing a closing quote.
  src/xrCore/XML/XMLDocument.cpp
Labels: Bug

#1590 [COC] Support usage of multiple `spawn_loadout` sections in character descriptions.
  src/xrGame/alife_object.cpp
  src/xrServerEntities/xrServer_Objects_ALife.h
Labels: Enhancement, Modmaker Experience, Call of Chernobyl
