Repository OpenXRay/xray-16, pull requests merged in 2025-01, with the labels that each got.

#1755 Resolve several compile warnings when comparing different int signedness
  src/Layers/xrRender/AnimationKeyCalculate.h
  src/Layers/xrRender/DetailManager_CACHE.cpp
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/R_Backend_DBG.cpp
  src/Layers/xrRender/light.cpp
  src/Layers/xrRender/r__dsgraph_build.cpp
  src/Layers/xrRender/r__sector.cpp
  src/Layers/xrRenderGL/glTextureUtils.cpp
  src/Layers/xrRender_R2/r2_loader.cpp
  src/Layers/xrRender_R2/render_phase_sun.cpp
  src/xrAICore/Navigation/level_graph.h
  src/xrAICore/Navigation/level_graph_inline.h
  src/xrCDB/Frustum.cpp
  src/xrCDB/xrCDB_Collector.cpp
  src/xrCore/FixedVector.h
  src/xrCore/Media/Image.cpp
  src/xrGame/xrServer.cpp
  src/xrSound/Sound.h
  src/xrSound/SoundRender_Core.cpp
  src/xrSound/SoundRender_Core.h
  src/xrUICore/ui_styles.cpp
Labels: Renderer, AI, Sound, UI, Code Quality, good first issue

#1770 [CoC] Fixed crash after closing PDA when navigated to 'statistics' (fixes #1766)
  src/xrGame/ui/UIRankingWnd.cpp
Labels: UI

#1769 [LUA] Use xr_new for script debug entities in stack
  src/xrScriptEngine/script_stack_tracker.cpp
Labels: Bug, Modmaker Experience

#1773 GitHub Actions: try to fix clang build with new Ubuntu image
  .github/workflows/cibuild.yml
Labels: Infrastructure, Build issue

#1776 Revert CMake hacks for e2k in Externals/LuaJIT-proj
  Externals/LuaJIT-proj/CMakeLists.txt
Labels: External (3rd party)
