Repository OpenXRay/xray-16, pull requests merged in 2025-06, with the labels that each got.

#1881 Implemented updated level.cform format with integrated CDB cache
  Externals/OPCODE/OPC_AABBTree.cpp
  Externals/OPCODE/OPC_AABBTree.h
  Externals/OPCODE/OPC_Model.cpp
  Externals/OPCODE/OPC_Model.h
  Externals/OPCODE/OPC_OptimizedTree.h
  src/Common/LevelStructure.hpp
  src/xrCDB/xrCDB.cpp
  src/xrCDB/xrCDB.h
  src/xrCDB/xr_area.cpp
  src/xrCDB/xr_area.h
  src/xrCore/FS.cpp
  src/xrCore/file_stream_reader.cpp
  src/xrEngine/IGame_Level.cpp
  src/xrEngine/IGame_Level.h
  src/xrGame/Level.h
  src/xrGame/Level_load.cpp
Labels: Enhancement, Performance, External (3rd party)

#1882 Add formatting strings to fix -Werror=format-security
  src/xrGame/player_hud_tune.cpp
Labels: Code Quality, Build issue

#1906 Bandaid fix for unresolved external symbol (fixes #1871)
  src/xrCore/FS.h
Labels: Windows, Build issue
